[2015-02-04 09:00] jhauswald opened #1 "Merge openephyra-resurrected into sirius"
Merge this version of OpenEphyra into Sirius:

https://github.com/TScottJ/OpenEphyra

[2015-02-04 09:02] jhauswald opened #2 "update pocketsphinx models with newly released models"
http://cmusphinx.sourceforge.net/2015/01/us-english-acoustic-model-update/

[2015-02-04 16:56] jhauswald opened #3 "[sirius-suite] Add DNN (ASR) brainiac kernel"
TODO:
-Update pretrained model
-Make bigger input ?

[2015-02-04 16:57] jhauswald opened #4 "Add Kaldi into end-to-end speech recognition pipeline"

[2015-02-05 00:51] ypkang opened #5 "[sirius-suite] Add pthread functionality to ASR DNN brainiac kernel"

[2015-02-05 02:06] jhauswald opened #6 "[sirius-suite] timing"
Design framework to run each kernel X number of times and output statistics:
- run-to-run variability
- average run-time
- average speedup (when applicable)
- input size

Output in easily parse-able format (json, csv).

[2015-02-05 02:08] jhauswald opened #7 "Build new databases"
Collect new databases for:
- OpenEphyra
- Image Matching

[2015-02-05 02:53] jhauswald opened #8 "[sirius-suite] fixup dnn-asr"
Just making a todo list, I don't want this to sound like its bad!
- stats printed
- Makefile flags

[2015-02-05 05:19] jhauswald opened #9 "[sirius-suite] add ground-truth"
Absolute GM:
- regex
- stemmer
- gmm
- crf
- dnn-asr

Approximate GM:
- fe
- fd

[2015-02-05 05:25] ypkang opened #10 "HTTP server for C programs"
Decided to go with Python wrapper

[2015-02-05 05:41] jhauswald opened #11 "[sirius-suite] gpu stemmer"
go through this kernel and figure out what is happening.

[2015-02-05 06:00] jhauswald opened #12 "[sirius-suite] serial crf"
- Make a serial CRF tag.c timing the same component that is parallelized in the pthread version.

[2015-02-05 06:06] jhauswald opened #13 "[sirius-suite] testing"
Framework to build and test all kernels. Depends on completion of #9.

[2015-02-05 19:48] ypkang opened #14 "Licensing issues"

[2015-02-05 21:09] yqzhang opened #15 "Better documentation"
Unify the format of all the README.me files once the structure of the repository is settled down.
Write better documentation and copy them into the wiki page.

[2015-02-05 21:12] yqzhang opened #16 "travis-ci for fanciness"
[Travis-CI](https://travis-ci.org/) is this awesome continuous integration tool that helps us to keep track of the compiling and building process.
More importantly, it will give us a cute icon in our README.md file similar to other open-source projects.
[![Build Status](https://travis-ci.org/google/protobuf.svg?branch=master)](https://travis-ci.org/google/protobuf)

[2015-02-06 05:38] jhauswald opened #17 "[sirius-application] figure out how to build a new OE database"

[2015-02-06 08:51] #13 closed, assigned to jhauswald

[2015-02-06 21:39] #4 closed, assigned to nobody

[2015-02-07 17:08] #12 closed, assigned to jhauswald

[2015-02-07 19:29] #8 closed, assigned to jhauswald

[2015-02-07 19:48] #11 closed, assigned to jhauswald

[2015-02-08 23:38] #6 closed, assigned to jhauswald

[2015-02-09 02:03] jhauswald opened #18 "[sirius-application] add sphinx4 config to pocketsphinx"
Use parameters from S4 on PS, hopefully it increases the accuracy.

[2015-02-13 20:55] #10 closed, assigned to nobody

[2015-02-15 20:26] #5 closed, assigned to nobody

[2015-02-15 22:17] #3 closed, assigned to nobody

[2015-02-17 22:21] #14 closed, assigned to nobody

[2015-02-18 07:11] jhauswald opened #19 "[sirius-suite]: IMM kernels overlap"
fix overlap issue when saving keypoints to image.

[2015-02-19 05:59] #19 closed, assigned to nobody

[2015-02-19 05:59] #9 closed, assigned to jhauswald

[2015-02-21 23:26] #2 closed, assigned to nobody

[2015-03-07 00:03] yqzhang commented on #16
mwuhahaha

[2015-03-07 00:03] #16 closed

[2015-03-13 14:00] elfring opened #20 "Completion of error handling"
Would you like to add more error handling for return values from functions like the following?
- [malloc](http://pubs.opengroup.org/onlinepubs/9699919799/functions/malloc.html "Memory allocation") ⇒ [main](https://github.com/jhauswald/sirius/blob/02d6ffc708239a209a7cd17a18cf4129441247e2/sirius-suite/gmm/gpu/gmm_scoring.cu#L120)
- [pthread_create](http://pubs.opengroup.org/onlinepubs/9699919799/fun

[2015-03-13 22:09] jhauswald commented on #20
Thanks for pointing that out, we'll take a look!

[2015-03-14 03:18] Timopheym opened #21 "Innstalation and first run - pocketsphinx empty string"
Firstly, thank you very much for so interesting approach!
When i run  `pocketsphinx_continuous -infile where.is.las.vegas.wav`
I got a lot of information plus `... there is las vegas ...` so it seems to work.

But! When I run `./start-asr-server.sh pocketsphinx` and  parallel
Starting server on localhost:8081, use <Ctrl-C> to stop

[code]

and the server writes `transcript []:` (empty)
So, the que

[2015-03-14 05:47] Timopheym commented on #21
I installed kaldi by myself from official instruction.
[code]
I also needed this fix for ATLAS installation:
```sudo apt-get install gfortran f2c libcnf-dev ```
(from http://askubuntu.com/questions/472146/building-atlas-and-later-octave-w-atlas)

Also i was need to install sox...

But after i did run kaldi ast server and asked for a speed of light, i've got in a loop. Can we catch and debug this?

[2015-03-14 06:43] Timopheym commented on #21
Eh, sorry, write a lot... but is it possable to get ```wiki_indri_index.tar.gz``` withot downloading 11 gig's, 'cose i wanna contribute (if i will run the whole system one time... =))

[2015-03-14 15:23] jhauswald commented on #21
Hi Timopheym,

Thanks for your interest and detailed write up of your experience so far! I apologize for the delay, we are currently all at a conference presenting this work and we have limited time. Once we're back, we'll be more readily available.

To address some of your issues:

11GB tar: the services are decoupled, so as you noticed you can still run the image and voice systems to test their

[2015-03-14 16:26] Timopheym commented on #21
Hey, thanks for so warm response. Yes, I run ./start-asr-server.sh and in
another terminal was sending wav files. Now I am downloading 11 tar and
will try to run it on my MacBook.
I didn't install  boost and protobuf, so I hoped that prepared scripts
would do that..

For Kaldi, I think that service for some reason was stoped (without any
logs) and the python script could not find it. Anyway, i wil

[2015-03-14 22:58] erogol opened #22 "Installation problem as following http://sirius.clarity-lab.org/sirius-suite/#setup"
sudo ./compile-sirius-servers.sh raises following erroneous output

[code]

and if I run ./start-qa-server.sh, it raises also this

[code]

OpenCV installation has the following error as well

[code]

I guess something is wrong in installation scripts.

I am on Ubuntu 14.04 with GPU support.

[2015-03-15 08:58] pietercolpaert commented on #7
How is this done?

[2015-03-15 13:32] jalcine commented on #15
Should note that you can actually [checkout the Wiki][1]; might help if you want to make on-the-fly changes to it.

[1]: https://github.com/blog/699-making-github-more-open-git-backed-wikis

[2015-03-15 18:02] gitfoxi opened #23 "ffmpeg requires PPA on Ubuntu"
`get-dependencies.sh` seems to think Ubuntu provides `ffmpeg`. They don't. You can work around this using a PPA as described:-

http://www.noobslab.com/2014/12/ffmpeg-returns-to-ubuntu-1410.html

[2015-03-15 18:40] gitfoxi opened #24 "Broken link"
http://www.singallogic.com/help/EngSamples/Orig/ENG_M.wav

`prepare.sh` want something from this broken link.

Also, I had to go download the big graph model with my browser, wget always times out because of the delay.

[2015-03-15 19:19] gitfoxi opened #25 "Kaldi requires openfst"
It doesn't seem like installing openfst is scripted. My first thought is to go download the source:

http://www.openfst.org/twiki/bin/view/FST/FstDownload

We'll see how that works out for me.

[2015-03-15 19:34] gitfoxi commented on #25
Maybe a better idea is to go to:

sirius-application/speech-recognition/kaldi/tools

and fight wiith the make file until it builds all the dependencies.

[2015-03-15 19:34] gitfoxi commented on #25
Probably the root issue is that these installation scripts should error out at the first sign of trouble. Instead, they keep plugging away and you won't notice if a step failed to complete before the next one starts.

[2015-03-15 19:46] gitfoxi commented on #25
Then you may want to install CUDA: `sudo aptitude install nvidia-cuda-dev nvidia-cuda-toolkit`

Then you may want to run the speex installer: `./install_speex.sh` It sort of fails but sort of succeeds.

[2015-03-15 20:20] gitfoxi commented on #25
Don't forget to install sox or kaldi server will suck:

'sudo aptitude install sox'

[2015-03-15 20:29] tomzx opened #26 "Create a Vagrantfile to automate the process of creating a development environment"
Since the process of getting started is quite lengthy, I would suggest that a Vagrantfile be setup with the necessary configuration to make it a one command install (basically `vagrant up`).

This will provide a replicable development environment for developers that may be interested in contributing to sirius.

[2015-03-15 21:25] hansgru commented on #26
+1

[2015-03-16 02:44] DanielHeath commented on #26
How well supported if windows/BSD/etc? If not very, Docker/other container-based runtime is probably the way to go - same one-command setup `docker run` with a far lower RAM overhead.

[2015-03-16 08:00] debanjum commented on #26
Vagrant is available on Windows, Mac, Linux. Docker uses linux containers and hence is a little more tied to the specific kernel

[2015-03-16 09:40] DanielHeath commented on #26
`boottodocker` works pretty well to alleviate that (a vagrant image with a minimal docker config).
I've spent a lot of time with both (although it's been ~2 years since I used vagrant) building replicable development environments.

From an end-user perspective, docker is slightly less ram-hungry on linux and about as ram-hungry everywhere else.
From a maintainers perspective, docker is slightly mo

[2015-03-16 15:03] Alphin commented on #21
the reason is because the socialist illuation of a coomon nation causes us to behave seperate

[2015-03-16 15:04] Alphin commented on #21
sorry i i just pasted the document into the wrong comment box,, u see i am also i a history group

[2015-03-16 17:06] rougin opened #27 "Error establishing a database connection"
When I was going through the [Sirius website](http://sirius.clarity-lab.org/), I found this error: ```Error establishing a database connection```

[2015-03-17 05:15] viklas commented on #26
+1 I'd be happy to help with this work. I just came across Sirius today and putting together a dockerfile is the obvious starting point (can't wait to see it in action). Or if anyone has already had break-throughs on the docker side, I'd be happy to help with any other 'infradev' tasks. I agree with the approach that says let's get it working at the simple 'docker run' level first...vagrant (or an

[2015-03-17 15:02] mlaurenzano opened #28 "GMM input file missing"
The gmm benchmarks in sirius-suite refer to a non-existent input file gmm/input/gmm_data.txt

[2015-03-17 15:06] mlaurenzano commented on #27
We apologize for the issues with the Sirius website that resulted from the surges in traffic we have been getting.

As the website status is unrelated to the source code repo, I'm closing this issue.

[2015-03-17 15:06] #27 closed

[2015-03-17 18:47] MattRiddell commented on #24
Yep, you'll need to change it to:

wget http://www.signalogic.com/help/EngSamples/Orig/ENG_M.wav

[2015-03-17 18:47] MattRiddell commented on #24
hmmm actually it's gone now - it was there

[2015-03-17 19:08] MattRiddell commented on #24
Ah it's melp not help:

http://www.signalogic.com/melp/EngSamples/Orig/ENG_M.wav

[2015-03-18 07:16] HarveyLiuFly opened #29 "broken link?"
wget http://kaldi-asr.org/downloads/build/2/sandbox/online/egs/fisher_english/s5/exp/tri5a/graph/archive.tar.gz -O graph.tar.gz
in prepare.sh, has anyone downloaded the file sucessfully?
failed: connection refused. any alternative sources?

[2015-03-18 11:54] vladimirvivien opened #30 "Add 'sox' to the get-dependencies.sh script"
After installing all components (with no problems) on Ubuntu 14.x, I get the sox command not found when trying out Kaldi.  Sox did not get installed.  Maybe add `sudo apt-get install sox` to get-dependencies.sh

[2015-03-18 17:44] jbeuckm commented on #22
I have the same issue with OpenEphyraServer
[code]

[2015-03-19 09:53] viklas commented on #26
Quick update - started docker composition process. Large number of dependencies (10+) have been added to the 'get-dependencies.sh' file, and some other items (GCC versions, etc). Biggest issue is we are now over 10GB for the docker image, before compiling the sirius server binaries. 10Gb is the default upper limit for an image using devicemapper (can be modified, but that would make the image unde

[2015-03-19 10:23] viklas commented on #30
I'm including this in the adjustments being made for the docker build (issue #26 ). There's a number of items to add to the 'get-dependencies' as we're discovering....

[2015-03-19 10:29] viklas commented on #29
There's a statement that pops up before the downloading which warns the server may take some time to respond...there are two files, it took about 12 minutes to download them both (running out of AWS in Sydney) and it did sit there for a while before downloading each file...not much of a help, sorry, other than they do work. Not sure about the prepare.sh part (this was just observed as part of the

[2015-03-19 11:58] poshaughnessy commented on #30
Thanks for looking at the Docker build, @viklas. That's how I'm trying to get it running on my Mac - through a Ubuntu Docker container. It's my first time using Docker though, and from a fresh container I've been finding a whole bunch of dependencies that I've needed to install first, like unzip, git and make. I've narrowed down on just trying to get the Question-Answering System working, but I'm

[2015-03-19 18:17] vladimirvivien commented on #30
+1 A docker build would be great.

[2015-03-19 21:01] laptopdude90 opened #33 "[sirius-web] Fatal error when trying to run web-sirius.py"
Here's the error:

Traceback (most recent call last):
  File "./web-sirius.py", line 185, in <module>
    h = sys.argv[1]
IndexError: list index out of range

I am running Ubuntu 14.04.

[2015-03-19 21:08] #33 closed

[2015-03-20 01:16] DanielHeath commented on #26
10 GB sounds pretty crazy. Where is the space going?

[2015-03-20 01:24] viklas commented on #26
Here's the 'docker history' on the current image. This tallies 7GB, but there are more dependencies, etc pulled down during 'compile binaries'...which is what I was running manually when I hit the 10GB limit. So assume at least another 3GB on top of the layers below.

..a few changes in train which will shrink the footprint to something more manageable...
- Revert to base java image, over ubuntu (

[2015-03-20 01:31] DanielHeath commented on #26
I'd expect the run image to be *way* smaller than the build image.

[2015-03-20 01:31] DanielHeath commented on #26
What about 1 container per build?

[2015-03-20 01:42] viklas commented on #26
Yep - that's where it's heading...a run container with all the binaries, but the ability to 'docker run' with either a server process per container, or the full suite (web front end can go in it's own container). And yep, splitting out the build containers is the first step...thinking we start with a base image we re-use everywhere (java + sirius git clone), then split out different build images f

[2015-03-20 01:43] HarveyLiuFly commented on #29
Thanks for the help. @viklas . It should be the net connection issue. I have downloaded the files.

[2015-03-20 01:46] HarveyLiuFly opened #34 "boost lib dependency should be added in the get_dependencies.sh?"
since it's required by building the match in IMM module

[2015-03-20 16:38] LeonardKoenig commented on #34
It's already in (libboost-all-dev) - at least for Ubuntu

[2015-03-20 18:25] mseeber opened #36 "Do not advise users to run "./compile-sirius-servers.sh" with root privileges"
The installation instructions (http://sirius.clarity-lab.org/sirius/) advise users to run various scripts with root privileges:

    $ sudo ./compile-sirius-servers.sh

The problem here is, that compilers are NOT designed to be run as root and build scripts must not be designed to require root privileges, when just building the programs or libs.

"./compile-sirius-servers.sh" does not look like it

[2015-03-20 18:32] mseeber opened #37 "Clarify that sirius will currently only build and run on Ubuntu"
From reading over the build scripts, it is apparent, that this will only build on Ubuntu. (dependency on apt-get and adding ppas)
In the README fies, this is not as apparent and the installation says:

    Sirius has been tested on Ubuntu 12.04 and 14.04.

Which could be more correctly formulated as:

    Sirius requires Ubuntu 12.04 or 14.04.

[2015-03-20 18:35] brianhillz0r commented on #37
I'm working on instructions to install on Redhat based distributions.

[2015-03-20 18:40] akuckartz commented on #37
No Debian?

[2015-03-20 18:53] mseeber opened #38 "remove hardcoded magic number of threads in build scripts"
In some buildscripts, the number of threads for concurrent builds is set to a fixed magical number:

https://github.com/jhauswald/sirius/blob/master/sirius-application/get-opencv.sh
https://github.com/jhauswald/sirius/blob/master/sirius-application/compile-sirius-servers.sh

here it is probably kind of ok, i guess travis does not do concurrent builds:
https://github.com/jhauswald/sirius/blob/maste

[2015-03-20 18:54] mseeber commented on #37
To get this included into debian, you would have to rewrite the whole deployment process.

[2015-03-20 19:38] alimoeeny commented on #36
:+1:

[2015-03-20 22:08] sedrubal commented on #34
Mh it wasn't installed after I ran the script, too. I had to install following manually:

 - swig / swig2.0 (I installed both ;) )
 - python-dev
 - libboost-all-dev / libboost-dev libboost-program-options1.55-dev libboost-filesystem1.55-dev

[2015-03-20 22:14] sedrubal opened #40 "Clarify that sirius is beta and insecure"
I played around with sirius and detected that the `sirius-web` app gives you a python terminal if an error occurres. And I think that the whole project is at this time only for developers and should not be served for the public.

Just my minds ;)

[2015-03-20 22:21] yqzhang commented on #20
Commit 7ce52a65425626268d645f32d32d63568d1f5984 added error handling for `malloc` calls

[2015-03-21 01:06] sedrubal commented on #21
May you please provide the `wiki_indri_index.tar.gz` as a separated download? I have problems to extract the nested archieve out of the other archeives. And please provide checksums for the downloads on the homepage. It seems like my download is broken...

Thank you :)

[2015-03-21 04:13] electrickite commented on #34
get-dependencies.sh is not installing all of the dependencies it should when run on Ubuntu 14.04 because of issue #24

The first apt-get install fails because ffmpeg is not included in the 14.04 package repository, so none of the dependencies on that line are installed.

A solution might be to add an ffmpeg PPA prior to that in the script or to compile from source.

[2015-03-21 10:37] LeonardKoenig commented on #34
The best would be to remove the script from the GitHub, imho (sources shouldn't be Distro-specific), or atleast provide it in a seperate folder:
- Installscripts:
  - Ubuntu
  - Fedora ...

I'm just trying hard to get it working under Arch but several builds fail with syntax error etc.

[2015-03-21 11:43] sedrubal commented on #34
Yes, I think that would be the best.

But I think, it's no good idea to install things completely automated and even add PPAs automated, because the user should decide what he wants to install. It should be more clear, what the script does...

[2015-03-21 14:32] yqzhang commented on #20
Commit 7778a0cfb797b9c1e62afeaee187c235d80b93c2 added error handling for `pthread_create` calls

[2015-03-21 14:36] yqzhang commented on #20
@elfring Thank you for pointing this out!
I'm gonna close this since it has been addressed by 7ce52a65425626268d645f32d32d63568d1f5984 and 7778a0cfb797b9c1e62afeaee187c235d80b93c2.

[2015-03-21 14:36] #20 closed

[2015-03-21 15:29] hoschi opened #41 "readme link leads to server which responds with 500"
I get a 500 from http://sirius.clarity-lab.org/sirius-web :( The mail address provided (webmaster@sirius.clarity-lab.org) sends me a mail back with:
[code]

[2015-03-21 15:34] jhauswald commented on #41
Fixed with commit be5eecc7e08df6623af118218181cec946019fc2

[2015-03-21 15:34] #41 closed

[2015-03-21 16:11] jhauswald commented on #37
Clarified with a2ab5a0a865e8695187e268eab0cee71d31f44d5

[2015-03-21 16:11] #37 closed

[2015-03-21 16:26] jhauswald opened #42 "Make input only package"
For those who start from the repo instead of the package online, it would be useful to have just a package with sirius-suite inputs and another with just the Wikipedia database to not have to download everything again. This covers #21 #28 #29

[2015-03-21 16:27] jhauswald commented on #28
#42

[2015-03-21 16:27] #28 closed

[2015-03-21 16:28] jhauswald commented on #29
Seems like you got it downloaded. We are going to figure out a faster/better way to setup Kaldi since Sirius overloading them ;) I'll go ahead and close this.

[2015-03-21 16:28] #29 closed

[2015-03-21 17:31] electrickite opened #43 "libsdl1.2-dev will not install on Ubuntu 14.04"
One of the packages installed by `get-opencv.sh` is `libsdl1.2-dev`. This fails to install on a fresh Ubuntu 14.04 Desktop. Errors below:

[code]

This error causes the entire command to fail, which will prevent all of those dependencies from being installed.

[2015-03-21 17:38] electrickite opened #44 "Verbose install script output"
Currently, the install scripts, particularly `compile-sirius-servers.sh`, are redirecting the output of a number of compile commands to `/dev/null`. This leads to _very_ long stretches of time with no terminal output. We know we're compiling here, why not show command output on screen to give at least some indication of progress? So something like

    make -j $THREADS 1>/dev/null

becomes:

    m

[2015-03-21 18:43] mseeber commented on #44
:+1:

[2015-03-21 20:27] elfring commented on #20
Are calls for a function like "pthread_join" further update candidates?

[2015-03-21 21:34] yqzhang commented on #20
@elfring Just committed e9cbc01de342c08406b2e6e967c1bba53c2e1560, which added more error handling for `pthread` related function calls and moved all the error handling to inline calls.

[2015-03-21 21:48] elfring opened #45 "reserved identifier violation"
I would like to point out that identifiers like "[`_MEMORYMAN_H_`](https://github.com/jhauswald/sirius/blob/8b6763ced1d0e6f8d720cc0cd263f66224fe0549/sirius-suite/utils/memoryman.h#L11)" and "[`_PTHREADMAN_H_`](https://github.com/jhauswald/sirius/blob/8b6763ced1d0e6f8d720cc0cd263f66224fe0549/sirius-suite/utils/pthreadman.h#L11)" [do eventually not fit](https://www.securecoding.cert.org/confluence/d

[2015-03-21 21:51] yqzhang commented on #45
Do you mean something like `_MEMORY_MAN_H_` instead of `_MEMORYMAN_H_`?

[2015-03-21 21:54] elfring commented on #45
Would you like to reuse an other prefix in a consistent way?

How do you think about to make [your include guards](https://en.wikipedia.org/wiki/Include_guard#Difficulties "Consistency for include guards") not only standard-compliant but also really unique by appending [a kind of UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier "universally unique identifier")?

[2015-03-21 22:03] yqzhang commented on #45
Just committed f6a0206dcc9ce8b7e5d946b187d11bd24da50f1c for this. UUID is probably a bit overkill here in my opinion.

[2015-03-21 22:08] elfring commented on #45
Are there [a few update candidates](https://github.com/jhauswald/sirius/blob/02d6ffc708239a209a7cd17a18cf4129441247e2/sirius-suite/crf/baseline/common.h#L5 "Reconsider the use of some underscores?") left over?

[2015-03-21 22:15] yqzhang commented on #45
As you wish 8bd2a2748d099f04478c014dc972cf4ca078be9d.
[code]

[2015-03-21 22:23] elfring commented on #45
Thanks for your improvement of affected include guards.

[2015-03-21 22:29] yqzhang commented on #45
![anytime](http://s2.quickmeme.com/img/dd/ddeb44c83a29c18156c425a26a1e8f836c2df9b019751fdc4685fcb2363b614a.jpg)

[2015-03-21 22:29] #45 closed

[2015-03-21 23:31] sedrubal commented on #42
:+1:

[2015-03-21 23:50] Alessandro-Barbieri opened #46 "opencv sources"
Why git clone opencv (you say you need 2.4.9) when Debian have 2.4.9.1 in repository?

[2015-03-21 23:59] Alessandro-Barbieri opened #47 "test wav non existant"
In get-kaldi
I could not resolve http://www.singallogic.com/help/EngSamples/Orig/ENG_M.wav

[2015-03-22 00:05] Alessandro-Barbieri opened #48 "git as superuser"
Please don't git clone as superuser.
Thanks.

[2015-03-22 01:11] brianhillz0r commented on #48
Are you referring to the get-opencv.sh script?

[2015-03-22 01:12] brianhillz0r commented on #47
It's located at:

http://www.signalogic.com/melp/EngSamples/Orig/ENG_M.wav

I'm going to be submitting some pull requests tonight to fix some issues with the build scripts.

[2015-03-22 01:40] iamnoskcaj commented on #42
[image: :+1:]

On Sat, Mar 21, 2015 at 7:31 PM, sedrubal <notifications@github.com> wrote:

[2015-03-22 01:49] Alessandro-Barbieri commented on #48
Yes.

[2015-03-22 01:55] Alessandro-Barbieri opened #49 "[sirius server] protobuf version error"
sirius server doesn't compile with protobuf 2.6.1-1, the dependency on protobuf 2.5.0 is strict?
Can the installer warn of it?

https://gist.github.com/Alessandro-Barbieri/0a47f4739719e8da74ac#file-sirius-protobuf-error

[2015-03-22 20:03] nileshtrivedi commented on #26
Docker Compose (earlier known as Fig.sh) can be useful for this.

[2015-03-22 20:08] CaptSpify commented on #25
I had issues getting this working on a raspberry pi. I was getting:
"***configure failed: Could not find file /include/fst/fst.h:
    you may not have installed OpenFst.  See ../tools/INSTALL ***"

I had to edit: speech-recognition/kaldi/src/kaldi.mk and remove the "-msse -msse2" flags on line 40. From there I was able to ./configure
From what I've read, those flags are for x86.

I'd submit a pull

[2015-03-24 06:18] HarveyLiuFly opened #52 "about performace of kaldi"
when I test the ASR part of kaldi, with any example wav file, the server should take more than 10 seconds to response the answer. Is the time cost normal for a PC?

[2015-03-24 14:01] viklas commented on #26
Another brief update on the docker preparation. There's now a working dockerfile to build the base image (ubuntu 12.04) with all the dependencies (all the apt-gets from the scripts pulled into here for visibility). The image is pushed to the registry at that point (1GB, takes about 15 mins to docker build).

That's then followed with a docker run command, with the sirius repo mounted as a volume t

[2015-03-24 17:37] calibr commented on #22
I think that it can helps you to run QA server:

in `sirius-application` directory

[code]

You need apache ant for last step to build OpenEphyra.

And then run again `start-qa-server.sh`, it's seems to works fine for me:

[code]

[2015-03-25 02:06] HarveyLiuFly commented on #36
agree. Adding --prefix should be better. Normally, we have no root privileges especially on server.

[2015-03-25 12:18] Compy commented on #52
The part they neglected to mention in their paper is they're using a $20,000+ server to actually do the processing that has about 8 GPUs in it that cost around $3k each.

However, I asked a question on their group about verifying that Kaldi is actually using the GPU since the nvidia monitor doesn't show memory usage on the card changing at all, and nothing.  Sadly, support just isn't there for thi

[2015-03-26 00:52] viklas commented on #26
Pull Request #55 has been raised. Please review and suggest any modifications.

I'd suggest this particular issue be closed once the tests pass - there's another PR for a 'native' vagrant build, and this covers off the basic docker requirements. We can raise a new issue to track the outstanding server components (IMM & ASR).

[2015-03-26 00:54] jhauswald commented on #52
@HarveyLiuFly: this sounds pretty normal (don't know much about your environment though). We were able to speed up Kaldi a lot by linking it to [ATLAS](http://math-atlas.sourceforge.net/) and compiling ATLAS using [AVX](http://en.wikipedia.org/wiki/Advanced_Vector_Extensions) (if you have an x86 based system. Also compile Kaldi using AVX extension. This isn't included yet as it was a hacked togeth

[2015-03-26 01:11] jhauswald commented on #26
We've been following the docker/vm push closely and this is how it looks from our side:

<img src="http://thumbpress.com/wp-content/uploads/2013/05/I-Have-No-Idea-What-Im-Doing-8.jpg" width="250" height="186" />

I've personally never worked with docker so its a good opportunity for me to learn about it before merging  it in so I appreciate the patience!

[2015-03-26 01:22] viklas commented on #26
That dog needs to take some life lessons from this Redditor:
http://www.reddit.com/r/tifu/comments/306xj9/tifu_by_not_wearing_any_clothes/

Must admit, sirius proved to be about 10x harder to nail down into a basic dockerfile than we first thought, but will be worth it (should get some good distributed development going). There's still some techniques to streamline, and most important to that woul

[2015-03-26 20:10] d4ndo opened #56 "sirius unix command shell"
I'm working on a sirius client written in C and libcurl.

[code]

This would allow to pipe questions to sirius:

[code]

[2015-03-26 23:02] kolewu commented on #47
This has been fixed in 3c71ecf1531e889fabcf743d4359bc7db100b215

[2015-03-26 23:03] kolewu commented on #44
This has been fixed in 2e0e4ae9b2cf195159f5ec39c2dbe3c5161999ca

[2015-03-27 16:43] jbeuckm commented on #22
Thanks! I'm further now. When I submit a question, here is the output in the server console:

[code]

[2015-03-27 22:09] erogol commented on #22
Thanks for the help. I think it should be added into documentation as well.

[2015-04-01 03:24] jhauswald commented on #49
I removed the dependency on 2.5.0 by recompiling the proto files into `*.pb.cc` and `*.pb.h` using the protoc compiler installed from `apt-get`. I'll leave this open for now if other problems arise.

[2015-04-01 03:25] #47 closed

[2015-04-01 06:54] jhauswald commented on #42
Working on this:
- fca34dc40447e7f29cb426303a5c345e4b422e4a: adds all data needed for suite into the repo as compressed tars `prepare.sh` used to extract to correct locations.
- Wikipedia DB is available at:  [web.eecs.umich.edu/~jahausw/download/wiki_indri_index.tar.gz](web.eecs.umich.edu/~jahausw/download/wiki_indri_index.tar.gz). Will update the website soon.

[2015-04-01 06:56] jhauswald commented on #36
Fixed with f638d3a28aad9cb20523d984be4ae3216e12170e and 0984493623a3e6b072be89e792f790ca25675a7d

[2015-04-01 06:56] #36 closed

[2015-04-01 15:31] Alessandro-Barbieri opened #57 "where is libfst.so?"
Finished building, I try to run but i get

./start-asr-server.sh
Starting server on localhost:8081, use <Ctrl-C> to stop
..//src/online2bin/online2-wav-nnet2-latgen-faster: error while loading shared libraries: libfst.so.1: cannot open shared object file: No such file or directory
^CTraceback (most recent call last):
  File "./start-asr-dnn-server.py", line 82, in <module>
    server.serve_forever

[2015-04-01 15:32] Alessandro-Barbieri commented on #49
I can compile sirius-server now.

[2015-04-01 15:35] yqzhang commented on #57
It is supposed to be built inside `sirius/sirius-application/speech-recognition/tools/`, but there are some bugs preventing the kaldi binary from linking against it. We are working on a fix.
Thanks for letting us know!

[2015-04-01 16:14] jhauswald commented on #49
Great!

[2015-04-01 16:14] #49 closed

[2015-04-02 21:31] jhauswald commented on #42
Updated the website: http://sirius.clarity-lab.org/downloads/

[2015-04-02 21:31] #42 closed

[2015-04-04 18:22] #44 closed

[2015-04-06 12:07] jeje-50 opened #58 "libtool not found"
I'm trying to build sirius on debian and I found something strange when I build kaldi tools.

After decompress tools.tar.gz, I'm trying to launch 'make' and I had this :

`root@sirius:/home/sirius/sirius-application/speech-recognition/kaldi/tools# make`
`extras/check_dependencies.sh`
`extras/check_dependencies.sh: libtool is not installed.`
`extras/check_dependencies.sh: we recommend that you run

[2015-04-07 01:50] jhauswald opened #59 "QA and Sphinx4 servers hang "insufficient number of threads...""
When running `./start-qa-server.sh`, there's an issue with Jetty if the machine has a large number of threads and THREADS in `./start-qa-server.sh` is smaller than the total threads, the server hangs and can't accept any requests.

Message: "...insufficient number of threads configured for SelectChanelConnector..."

Similar issue happens with `./start-asr-server.sh sphinx4`.

Temporary workaround

[2015-04-07 14:44] d4ndo commented on #56
First release:

https://github.com/d4ndo/sirius-client

At least the »question answer« part is implemented already.

Have fun.

[2015-04-07 15:55] jhauswald commented on #56
Hey, just tested it works great. Keep us updated with your progress especially once you implement the image and speech component. This could definitely be used in place of some of the scripts we are currently user.

Thanks!

[2015-04-07 16:14] jhauswald commented on #59
998d5acc1a23e0845d0d234ab3b0ea2ce5cce07b: `./start-asr/qa.sh` now query the number of threads available. Still looking at Jetty server.

[2015-04-10 14:52] OSS542 opened #60 "SSL3_GET_SERVER_CERTIFICATE:certificate verify failed"
bash-3.2$ git clone https://github.com/jhauswald/sirius.git
Cloning into 'sirius'...
error: SSL certificate problem, verify that the CA cert is OK. Details:
error:14090086:SSL routines:SSL3_GET_SERVER_CERTIFICATE:certificate verify failed while accessing https://github.com/jhauswald/sirius.git/info/refs
fatal: HTTP request failed

[2015-04-10 15:15] OSS542 commented on #60
using "GIT_SSL_NO_VERIFY=true git clone https://github.com/jhauswald/sirius.git" works around this, so it appears that either the cert is invalid, or the validation is not working for some reason.

[2015-04-10 19:01] khornberg commented on #60
Can you clone other Github repos?

[2015-04-11 12:47] ychoucha opened #61 "Virtual Box image to use sirius ?"
Hello,

can u have an virtualbox image to use sirius please ?

because to install it it's really long, and not easy.

thanks to you

[2015-04-13 11:09] MaciekLeks opened #62 "libindri_jni.so: wrong ELF class: ELFCLASS64 and not existing /wiki_indri_index/manifest"
I use 32bit Lubuntu (Ubuntu) 14.04 on 64bit machine. After launching start-qa-server.sh I get the exeption from the issue title. I think that libindri_jni.so is compiled for the 64bit OS. I guess the file is not compiled during Sirius installation, because the date of the file is before the installation process on my OS.

[2015-04-13 11:54] d4ndo commented on #23
It seems that you don't need libffmpeg at all. I just compiled opencv without ffmpeg and match does not need any ffmpeg feature.

cmake -DWITH_FFMPEG=OFF

[2015-04-13 12:36] d4ndo commented on #56
The image and speech components have been extended.

It took me a while to understand that the python web server does not accept `multipart/formdata`. Not like the java web server for sphinx4 (supports both).

e.G. using curl, this is correct:

[code]

No --form flag.

[2015-04-13 14:01] Nalum commented on #43
I am also seeing this. Is there anyway around it?

[2015-04-13 14:11] d4ndo commented on #23
Oh. Sorry. You are talking about ffmpeg not libffmpeg to compile match. Misunderstood that.

[2015-04-13 17:39] auguster opened #63 "Splitting sirius in sub-gits"
I'm currently building sirius with a different machine for sirius-application and sirius-web.
I would be easier for me if you had splitted sirius in separate sub-git. The sources are quite important, it's a pain to pull it several times...

Maybe it's an improvement you should considered.

[2015-04-13 20:00] MaciekLeks commented on #62
I have downloaded indri-5.8 and then I followed the instructions:
1. ./configure CFLAGS="-g -O3 -m32" CXXFLAGS="-g -O3 -m32" --enable-java --with-javahome=<JDK_JAHA_HOME> --prefix=<OUT_LIB_PATH>
2. make
3. make all  install

Then I replaced old libindri_jni.so by a new one.
After feeding the server (start-qa-server.sh) by some sample query I got the exception:

*Search error:
java.lang.Exception:

[2015-04-14 08:41] d4ndo commented on #63
Good Idea. The web frontend should have its own repository. This way, it is very easy to include a sirius frontend on all kind of websites without having this big overhead. A Raspberry Pi could provide a frontend for people to use. sirius itself runs as a service on some other host.

For this case, I also have some suggestions:

a) The Quesition-Answering System uses HTTP GET to transfer sensible

[2015-04-14 13:46] auguster commented on #63
I tried to build sirius as a docker component but it's hell to build it, too many dependencies. Most of them are not taken into account in the get-dependencies.sh file. I'm not sure which version of OpenCV I can use. If 2.4.9 is fine I can just ``apt-get install libopencv-dev`` it...

I guess the suggestions should be in separated git issues as well ;)
For c) I guess you could put nginx in between

[2015-04-15 07:16] d4ndo commented on #63
I guess the problem with `OpenCV is, that it can be compiled in two ways. free and nonfree. sirius uses some nonfree components. Ubuntu or Debian packages distribute the free version. That is why opencv needs to be compiled to use sirius.

But the sirius-web component does not have many dependencies, does it?

  5 apt-get install -y python-pip python-pyaudio
  6 pip install wtforms Flask requests

[2015-04-21 00:22] wiseman opened #66 "make-db.py can't find libopencv_highgui.so"
On Ubuntu 14.10:

[code]

This is documented at https://groups.google.com/forum/#!topic/sirius-users/i-FO0EzmBvU but I'm opening this here for more visibility.

The solution for now is to do this:

[code]

[2015-04-21 00:58] wiseman opened #67 "Add support for incremental/"online" ASR"
It's possible to significantly reduce the latency of ASR for systems that support it by doing incremental/"online" recognition: processing audio as it comes in.  Especially for interactive use (mobile apps, etc.) this can drastically improve the user experience.

For example, Kaldi calls ithis "online decoding" and the [documentation claims](http://kaldi.sourceforge.net/online_decoding.html) that

[2015-04-27 09:06] stephenkeep opened #68 "Answer Accuracy"
Hi All,

I have managed to get the server configured and answering questions using ./start-qa-server.sh. However, the accuracy of the answers seems quite poor, for example:

What is the capital city of France?
Luang Prabang

How many moons does Jupiter have?
9781151499646

How old is Hugh Jackman?
80 years

What language do they speak in France?
French Canadian

In all I asked 20 questions and sir

[2015-04-28 16:16] jhauswald commented on #46
In case the package manager version change, we'd like to provide the exact version!

[2015-04-28 16:16] #46 closed

[2015-04-30 15:56] jbeuckm commented on #61
+1

[2015-05-01 16:10] jbeuckm opened #69 "Wrong version of LemurProject"
[code]
How can I find out which version of Lemur and install the right one? Here is the console when I run the "speed of light" test:

[code]

[2015-05-03 15:31] XDedalo opened #70 "get-web-deps.sh"
I already installed sirius-application and sirius-suite, but in sirius-web unfortunately there isn't the shell script that is described in as a prerequisites of installation  (get-web-deps.sh). I'd like to know where can I find it? Thank you.

[2015-05-04 15:08] Waxo commented on #58
This script is from kaldi. I had the same problem. Your "fix" gain me some time. Thanks

[2015-05-05 01:29] jhauswald commented on #70
Hey sorry about that, we moved all the dependencies into https://github.com/jhauswald/sirius/blob/master/sirius-application/get-dependencies.sh.

I'll updated the website asap!

[2015-05-05 01:32] jhauswald commented on #24
fixed with 3c71ecf1531e889fabcf743d4359bc7db100b215

[2015-05-05 01:32] #24 closed

[2015-05-05 18:46] XDedalo commented on #70
Thank you very much.

[2015-05-09 15:10] Check-mate opened #71 "Wiki database access error : QA server"
When I try QA service an error occurred .
I can't access the database wikipedia extracted in the question-answer directory.
Here is the log of my error :
http://pastebin.com/GhYxN2RS

[2015-05-11 12:57] #70 closed

[2015-05-15 20:36] Alphin commented on #21
okk

On Sat, Mar 21, 2015 at 6:36 AM, sedrubal <notifications@github.com> wrote:

[2015-05-19 19:40] Timopheym opened #73 "Error in QA system on x86 Ubunt, OpenJDK"
[code]
uname -a
[code]
 java -version
[code]

[2015-05-19 19:45] Timopheym commented on #73
Duplicate of #62

[2015-05-19 19:45] #73 closed

[2015-05-20 00:02] Timopheym commented on #62
@MaciekLeks Thanks you very much - your tip helped me, imoprtant to not forget to set --with-javahome= and  --prefix= params
--with-javahome=/usr/lib/jvm/java-7-openjdk-i386/ --prefix=`pwd` in my case.
i didn't get java.lang.Exception: ../src/Repository.cpp error becorse i do have manifest file
 ```cat manifest```:
[code]

where did you get your wiki archive? try my manifest, thanks and good luck!

[2015-05-20 08:31] MaciekLeks commented on #62
@Timopheym, thank you. Finally I've upgraded my linux to 64 bit version. Then, I carefully installed the whole wiki archive. At that time when I wrote the post something went wrong on my machine (disk quota) with the unpacked archive. So, ALL be very careful when unpacking the wiki tar... Now it works well.

[2015-05-20 12:20] Timopheym commented on #62
Glad to know it. On on my old machine with 2GB RAM when i run voice
recognition and QA system it did hang totally (no even  capslock =)).
So i'll try on x64 virtual box with 4GB RAM, hope it will fine for that
monster +)

On Wed, May 20, 2015 at 11:32 AM, MaciekLeks <notifications@github.com>
wrote:

--
Kind regards,
Timophey Molchanov.

First do it, then do it right, then do it fast.

[2015-05-21 07:07] Timopheym commented on #61
https://groups.google.com/forum/#!topic/sirius-users/9xJ55yJpVZ8 - there is some... but it is 60 GB... 0_O

Now i am making my own based on Ubuntu server x64 10.04, if someone wants i can give it after setup i guess it should be a bit less (30 GB?). But i would like to setup Vagrant environment where the software does run on Virtual Machine and the codebase could be hosted on main machine (with tr

[2015-05-21 07:13] Timopheym commented on #68
It's important to understand that sirius is more a combination of services. And quality of QA system is upon OpenEphyra.
Next important thing that OpenEphyra is a framework so if you find that you can make it better it's very easy to tune (just read a bit about the whole QA procedure and a bit Java knowledge). May be we need to fill more patterns there (there is a difference between "What is the c

[2015-05-26 20:17] jbeuckm commented on #69
I updated to 14.04 and started over with the Sirius setup. I see a more detailed error now:
[code]

[2015-05-26 21:06] cdmeister commented on #69
Hey, I am using 14.04 but I am using Oracle's Java instead. You should give that a try. Threre is a ppa that can install Oracle's Java 8. I find that Oracle's java generally better in my experience.

[2015-05-27 14:00] clairebaby commented on #57
I meet this same problem, have you solved it, and how?

[2015-05-27 15:58] jbeuckm commented on #69
Thanks, @cdmeister. It worked!

[2015-05-27 15:58] #69 closed

[2015-05-27 18:57] #56 closed

[2015-05-29 17:35] creamjiang opened #74 "urllib2.URLError URLError: <urlopen error [Errno 111] Connection refused>"
urllib2.URLError
URLError: <urlopen error [Errno 111] Connection refused>

[2015-06-05 15:58] vaethis opened #75 "Lemur Indri Parameters"
Can someone provide an example of the parameters file they used to import wikipedia into Indri? Looking for something like:
<parameters>
     <stemmer>
       <name>krovetz</name>
     </stemmer>

[code]

</parameters>

Am I close? How would I data/merge to the current into the current question-answer indri database?

[2015-06-10 20:25] aolney opened #76 "Error using Kaldi server: "error opening stream null""
I'm trying to use the python server directly (as below). Once started, I use sirius-asr-test.sh with a wav file in another terminal. At that point, the WARNING and errors below appear.

I checked the kaldi support pages and couldn't really find anything to explain why 'scp:echo utterance-id1 null|' is a problem.

Any ideas?

[code]

[2015-06-11 19:35] ypkang commented on #76
It seems the sever can not find the wav file to decode. If the it works properly, the output should be something like "Wavfile name received. Decoding ../../input-log/8k_input-14222.wav" instead of the WARNING and ERRORs.

Can you post your command on the other terminal where you run sirius-asr-test.sh ?

[2015-06-12 02:12] aolney commented on #76
Ok, my apologies. I just realized that it throws this error just by starting the server script, though with some delay. So running sirius-asr-test.sh is not necessary.

BTW I already had a working kaldi fisher english installation, so I didn't use your install scripts.

However, my version of decode.sh works fine. It looks like this

[code]

And my server.sh looks like this:

[code]

So the only t

[2015-06-12 18:08] ypkang commented on #76
Are you using the source code in src.tar.gz included in the repo ? Because in order to make it function like a server and able to receive and process request query, we modify the kaldi source code. Instead of taking the name of the audio file as an argument, it now load up the required model and wait for the name of the target wav file name from cin. And that's why when the server starts, we just

[2015-06-12 22:43] aolney commented on #76
That explains it -- I didn't realize you had modified the source code for kaldi. I just wanted to use your server script as a wrapper around my existing kaldi fisher english.

I've downloaded/compiled with your src.tar.gz and tools.tar.gz, and now everything works.

Sorry for the confusion

[2015-06-19 12:28] testman42 opened #77 "Project alive?"
Is this project still active?
Only two updates that did not happen 4 months ago are README updates.

[2015-06-22 08:47] d4ndo commented on #77
It would be a great opportunity for the University of Michigan to take sponsorship for this project. Also to provide a Sirius service for the public.

That would make the University of Michigan attractive for highly talented scientists in the field AI.

[2015-06-22 18:18] ypkang commented on #76
No problem. I'm glad to see it is working now :) I am closing this issue.

[2015-06-22 18:18] #76 closed

[2015-06-23 12:38] rusbear opened #78 "Language"
Does Sirius work with other languages in addition to English?

[2015-06-29 15:59] hurricane92 commented on #25
1. I tried same thing on 'kaldi.mk'.

2. But 'kaldi/src/configure' leave same message :
"**configure failed: Could not find file /include/fst/fst.h:
you may not have installed OpenFst. See ../tools/INSTALL **"

3. And I followed '../tools/INSTALL-(2)Install instuctions for OpenFst'
![sirius howto install openfst](https://cloud.githubusercontent.com/assets/13096272/8412002/f136918e-1ec1-11e5-81bd-d

[2015-06-29 16:25] cdmeister commented on #25
Hey

when you go into the tools folder, just type "make" in the cmd line. then go back and execute the compile sirius servers script  That is what I normally do.

[2015-06-29 18:14] hurricane92 commented on #25
Thanks you very much! You gave me clear answer.

After it, I got another issue about 'sirius-asr-test'.
Would you mind talking about it by e-mail? or on another issue.

[2015-07-02 10:44] cdmeister commented on #25
You can open up another issue I will close this one then

[2015-07-02 10:44] #25 closed

[2015-07-17 21:29] olmerg commented on #78
I have the same question? which will be the way to support other lenguages?

[2015-07-22 10:21] manish7273 opened #79 "ASR starting problem"
i have an issue with ASR

./start-asr-server.sh
Starting server on localhost:8081, use <Ctrl-C> to stop
./server.sh: line 12: ..//src/online2bin/online2-wav-nnet2-latgen-faster: No such file or directory

[2015-07-22 15:06] cdmeister commented on #79
You need to run the `get-kaldi.sh` script with will download the kaldi source code and then run the `compile-sirius-servers.sh`which will compile all of the different kinds of services

[2015-07-23 20:38] giovannioliveira opened #80 "Problem while running the kernels"
Hi there! I'm trying to install Sirius for the first time. Followed the tutorial over http://sirius.clarity-lab.org/sirius-suite/ and seems until the step Building the Kernels everything seems to be right. First of all, I'm having to export Caffe and OpenCV path manually, else "make test" don't run. Not the problem yet. After run make test, a JSON output is echoed with Kernel description, as spect

[2015-07-23 22:09] jhauswald commented on #80
If you go into regex, `make clean` then `make test` should solve your issue and same for the other ones. You need to `make test` specifically.

Probably a better way to do this than by compiling `-DTESTING` into the code, I agree ;)

Let me know how that looks,

[2015-07-24 14:17] giovannioliveira commented on #80
The problems related to export path was solved, but still no output is generated. I'm specting some binary to be generated at sirius-suite root directory, is this right ? I'm really sorry, but i didn't get what you mean with "Probably a better way to do this than by compiling -DTESTING".

This is the echo output that I get when run regex directory `make test`:
`make -s -C baseline test
{
	"kernel"

[2015-07-28 20:18] irl commented on #37
@mseeber Can you expand on what you mean by "rewrite the whole deployment process"?

[2015-07-28 20:20] irl commented on #77
I am investigating the possibility of inclusion of Sirius in Debian. This issue concerns me as I would not like to be packaging software which is not actively maintained.

(Debian Bug is 782763. https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=782763)

[2015-07-28 20:25] irl commented on #40
The bug report here should have been that "the sirius-web app gives you a python terminal if an error occurs" which may break the "no suprises" rule for software security.

The BSD license under which Sirius is distributed contains a disclaimer of liability and it is always essentially up to the end-user to decide whether or not a piece of software is suitable for themselves.

Either the presence

[2015-07-28 22:19] sedrubal commented on #40
ack

[2015-07-29 21:35] mseeber commented on #37
I have not actively followed the project so things may have changed for the better.

With deployment I refer to *all* steps required from creating the necessary binarys from the sources up to installing all components on the target system, providing documentation, basic configuration updating it and removing it.

Some Problems for example:
As I recall, there have been install scripts for Sirius th

[2015-07-29 21:46] irl commented on #37
@mseeber Thanks. I'll be looking into packaging Sirius for Debian, but from my initial glancing over the installation process, it seems that yes there are some issues that would need to be addressed.

[2015-07-29 22:15] jhauswald commented on #37
We're definitely interested in making the deployment process better, I agree that the deployment process currently is rough but in the end its just a big wrapper to build all these other packages.

Do you guys have recommendations how to make it a better process considering it encompasses several other projects that have been edited to fit into Sirius? Seems @mseeber could provide some valuable fe

[2015-07-29 22:19] jhauswald commented on #77
I've been working with a team of students through the summer and we're going to roll all the changes into the next iteration of Sirius end of August once I'm out from under this paper deadline (grad students still need to write papers...)

@irl it would be helpful if any of the changes you mention in #37 could be tracked somewhere, we can make sure to address them and get this process started. Fee

[2015-07-29 22:46] irl opened #81 "Include Sirius in Debian"
Debian bug: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=782763

So my normal checklist is:
- [ ] license terms
- [ ] looking for copies of convienience code
- [ ] ensuring all dependencies are packaged already (packaging if not)
- [ ] make sure build can happen in a buildd environment (offline, only using packages from official repos)

@jhauswald has confirmed that the project is still activ

[2015-07-30 17:09] mseeber commented on #37
I did not do packaging for debian, and I do not want to package sirius myself but maybe I can give a few general pointers from my packaging experience with other software.

Most important thing before anyone implements anything is, to **define a goal**. What do you want to deploy? Where do you want to deploy? Do you want to roll your own packages or work with packagers of (linux) distributions? A

[2015-08-21 04:52] danielchalef commented on #52
It appears stock kaldi only uses the GPU for model training, and not transcription.

[2015-08-21 15:58] danielchalef commented on #52
Optimizing OpenBLAS (TARGET= and GCC -mtune) and Kaldi (GCC -mtune) for my CPU architecture (bdver1) yielded a 25% performance improvement (17 seconds to 12 seconds). Unfortunately still too slow for use.

[2015-08-21 17:15] tnga commented on #52
@danielchalef  I'm agreed with you! I’m student in university of Dschang in Cameroon; I planned to develop an IPA for linux which will be specially adapted for our african contest and generally in other contest according to people’s contributions. However, when Sirius has been published, i have decided to better use that great work and provide an intuitive interface like __cortana__ or __siri__  f

[2015-08-31 22:44] sanyaade-speechtools opened #83 "Sirius Server Error unable to process speech and image matching"
Hello everybody,

I have just installed Sirius on Ubuntu Server 15.04. Everthing went well and all the 3 servers were up and running including some command-line tests carried out.

The following problems were found:
1.) the image matching test seems to crash out
2.) Speech test (recorded and wave files also generates errors
dump code from the server is shown below:
' '
ValueError

ValueError: View

[2015-09-03 21:35] testman42 commented on #77
It's September already

[2015-09-03 21:48] irl commented on #77
Debian is currently dealing with a transition from GCC 4.x to GCC 5. I've not forgotten about Sirius but that is currently taking my attention.

[2015-09-05 15:01] vijai1996 opened #84 "Cannot get output for qa-test"
Hello,
  I could start the QA server fine but when I try to test qa server, I get the below error. I seem to have libstdc++.so.6. BTW, I run it on centos 6.6.
`+++++ Searching (2015-09-05 16:44:57) +++++
Exception in thread "Thread-10" Exception in thread "Thread-11" java.lang.UnsatisfiedLinkError: /root/sirius-1.0.1/sirius-application/question-answer/lib/search/libindri_jni.so: /usr/lib64/libstdc

[2015-09-16 13:18] betzelelgalut commented on #75
hi, i am looking for the same thing. i am wanting to create repositories out of all the wiki datasets.
also does anyone know how to train the AI, when it gives back the wrong answers?

[2015-09-16 14:57] vaethis commented on #75
This was answered in #68 I think this project is defunct. :(

[2015-09-21 20:46] A4d1l commented on #58
How did you resolve the issue??

[2015-09-21 21:57] jeje-50 commented on #58
I just install libtool and remove libtool from list of check in script "check_dependencies.sh"

[2015-09-23 18:51] jbeuckm opened #85 "How does Sirius learn new knowledge?"
What mechanism is available to give feedback so that answers can improve?

[2015-10-08 15:11] qknight commented on #43
# theory: how to fix this
**warning: by using 'dpkg --purge --force all' you can easily brick your system and i did once for finding out this way of how to successfully install libsdl1.2-dev**

**note:** my blocker list was slightly different but i think that this concept should also apply to electrickite's issue

anyway, i had similar errors with installing libsdl1.2-dev on 14.04 and what i did w

[2015-10-14 09:58] jinpengchina commented on #85
good question.

[2015-10-15 15:15] EvanWieland commented on #85
+1

[2015-10-23 03:24] beew opened #86 "Is this project dead?"
There was a thread in June questioning the status of Sirius. The dev answered in late July and promised the next iteration for late August but it is late October already
https://github.com/claritylab/sirius/issues/77

Meanwhile on the google group I read about some commercial project called Lucida Sirius reincarnated. Does it mean this project is no longer alive? I am no expert in religions but my

[2015-10-24 00:46] Zeioth commented on #86
Personally I'm really hoping for someone to put everything on the cloud. Great things can be achieved from there.

[2015-10-26 11:46] posophe commented on #81
Hey ! I'm packaging Sirius for openSUSE, then I'm interesting too by this bug report. Just a question about OpenEphyra. I have been able to find a new project with updated stuff into but it's now clean that OpenEphyra is unmaintained yet. Do you plan to move on or maintain it yourselves ?

Regards.
Benjamin

[2015-10-26 12:28] akuckartz commented on #81
:+1:

[2015-10-26 15:29] posophe commented on #81
I have found a possible alternative : qanus. I don't know exactly how relevant it could be but it's a way to look at.

[2015-10-26 15:39] posophe commented on #81
Or yodaqa. Not stable enough to be used on a production system but maybe it's interesting to keep an eye on it.

[2015-10-30 10:11] SumitrajPatil opened #87 "How we can train model?"
How we can train modles in kaldi as per our requirement ? Whenever I give speech input its not giving me correct transcript, So what if I want to train the model with certain sentences and voice, so how it can be achieved.?
Any help would be great .
Thanks in advance.

[2015-11-01 09:25] ampaho commented on #85
+1B

[2015-11-22 21:01] beew commented on #86
Well if the project is dead the developer can at least post a one sentence announcement instead of just disappear. How difficult is it to just log in and post one sentence like "We have terminate the this project, have a nice day."?

[2015-11-25 22:57] Dual2Core commented on #86
The project was pretty awesome. That's a shame it's down...

[2015-11-26 04:07] rhetr commented on #86
maybe [mycroft](https://mycroft.ai/) will offer something similar

[2015-12-15 00:03] crazywolf132 commented on #86
Hey guys, nice to meet you all. I am officially taking over this project, but it will be under http://github.com/crazywolf132/sirius/

I would love some help from you guys concerning this project. Have a nice day!

[2015-12-15 15:11] Timopheym commented on #86
@rhetr mycroft looks promising, but i guess it will took a year them to opensource...
@crazywolf132 your repo now is empty. What roadmap do you have? I am interesting in ML, and AI systems, also i wonder we could make sirius setup much easier then now. Also i have a lot of experience in FrontEnd development - so we could create nice Sirius demo. What is your plans?

[2015-12-15 15:48] EvanWieland commented on #86
@crazywolf132 Would love to help out. Please populate your repo tho. A good demo would be nice as well, as @rhetr suggested.

[2015-12-15 23:43] crazywolf132 commented on #86
@Timopheym The repo will have all the code as soon as it is done uploading... should not take too much longer. @EvanWieland We would love your help. We will try to get a demo up as soon as possible, once we work out the best way of doing that.

[2015-12-16 07:13] Timopheym commented on #86
@crazywolf132 So, then please contact me do to discuss details about demo and future roadmap.
My mail: timopheym [ а_t ] gmail.com
skype: timopheym

[2015-12-16 14:44] EvanWieland commented on #86
@crazywolf132 @Timopheym Does someone want to snag a Github Page?

[2015-12-16 15:13] JeremyARussell commented on #86
@crazywolf132 Are you officially taking this over as a member of Clarity Labs or is this more you officially announcing an unofficial continuation?

[2015-12-16 23:19] crazywolf132 commented on #86
@JeremyARussell You choose what it is, they have totally given up on this project, and they do not even accept pull requests any-more. I am willing to help you guys out on that. If you are just going to criticize me for helping, then you all can just sit here waiting for something to happen when it never will. I am sorry for wasting my time trying to help this community

[2015-12-17 14:11] EvanWieland commented on #86
In the spirit of open source, let's give the keys to @crazywolf132. Is it really open if you can't contribute? Why let such a great project die? I support the migration.

[2015-12-17 14:36] d4ndo commented on #86
This would also be a nice task for https://openai.com
Maybe ask for support there.

sirius should be modular. On one side some restful API for clients like an android app or some web applikation or a unix command see (https://github.com/d4ndo/sirius-client)  and on the other side an API so algorithm can be replaced and added easily.

So maybe it is better to implement and describe a nice interface

[2015-12-17 17:52] akuckartz commented on #86
Is there any fork which is maintained?

[2015-12-17 18:02] JeremyARussell commented on #86
@crazywolf132 My apologies if it seemed I was criticizing you, that's not how I meant it to come across, I was just wondering if you were using the word "official" correctly or in a looser fashion..

I was actually road-mapping out a plan to relaunch Sirius myself as well considering how dead things got.. Personally I was debating on if I should continue with my plans and launch it or if I should

[2015-12-17 18:33] Timopheym commented on #86
@JeremyARussell @crazywolf132 @d4ndo Guys,

First i see that we have some common goals:
 - Modularity (open interfaces that can easy replace different parts of the system to test-and-play new CV\NLP\... approaches)
 - Easy Install and Setup as @JeremyARussell said, and wrote in other issue - this can be much easier new people to come over.
 - Possibility to tweak common setting of the system even

[2015-12-17 18:37] EvanWieland commented on #86
@Timopheym +1 to all that.

[2015-12-17 18:39] Timopheym commented on #86
@JeremyARussell @crazywolf132 @d4ndo @EvanWieland and if we connecting to continue this project,i think we should write an email to all guys from claritylab about this - this would be right.

[2015-12-17 18:40] wathek commented on #86
@Timopheym I'm also interested in this project and I'd like to contribute too.

[2015-12-17 18:41] EvanWieland commented on #86
@Timopheym Yeah that's prolly the good, courteous thing to do.

[2015-12-17 18:43] JeremyARussell commented on #86
@Timopheym I find myself agreeing a hundred percent. I still think good competition among open source forks can be a great thing, nothing would be stopping anyone from using each other's forks to enhance one another, but you're completely right. If all our project goals align to form the same project, it would be best if we figure out a productive way to cooperate and bounce idea's off each other.

[2015-12-17 18:47] Timopheym commented on #86
@JeremyARussell i was thinking right about it. I like slack more.

[2015-12-17 18:51] JeremyARussell commented on #86
@Timopheym Want to start a room for us? Or should we wait and let @crazywolf132 pop in and let us know what he thinks so far? It looks like he's probably at work or something seeing as he hasn't popped in yet this morning.. I'd hate to jump forward too much without his input, especially since this'll be a joint venture from the start..

[2015-12-17 18:53] wathek commented on #86
@JeremyARussell, @Timopheym I think it's better to wait for @crazywolf132 to pop in and know what he thinks about all this.

[2015-12-17 18:55] Timopheym commented on #86
@JeremyARussell i was speaking with him yesterday, he is for Australia and probably asleep now.
I've created a chat https://siriusai.slack.com/ - but you should give me your emails to invite there.
I agree that we should have a talk with @crazywolf132 so, let's go there, and wait answer form @crazywolf132 when he will have time to discuss all details.

[2015-12-17 18:55] JeremyARussell commented on #86
@wathek, Yeah I would certainly feel more comfortable waiting to see what he thinks as well..

[2015-12-17 18:57] JeremyARussell commented on #86
@Timopheym I see, yeah he's probably asleep being on the other side of the planet and all :p

my email is jeremyarussell [a.t] gmail  dot  com

[2015-12-17 18:57] Timopheym commented on #86
@crazywolf132 @d4ndo @EvanWieland @wathek   My mail: timopheym [ а_t ] gmail.com  send me yours there or post it here - i'll send invitation.

[2015-12-17 18:58] wathek commented on #86
@Timopheym my email is wathek [a_t] gmail.com

[2015-12-17 18:59] EvanWieland commented on #86
@Timopheym Sent you my email.

[2015-12-17 19:00] Timopheym commented on #86
@EvanWieland @wathek youp.

[2015-12-17 19:11] virtadpt commented on #86
:+1: to the relaunch, @crazywolf132.  I'm willing to hammer on Sirius pretty hard to see where it breaks down.

[2015-12-17 19:55] Timopheym commented on #86
We plan to have a talk in slack ( https://siriusai.slack.com/ ) about the fork here - http://doodle.com/poll/aznr2c7d3ue9r8ap please send me\post your email to join.

[2015-12-17 23:15] arunbahl commented on #86
@Timopheym Thanks for doing this - I’m adding my email to join the slack channel: arun [at] bridge.ai.

On December 17, 2015 at 11:55:18 AM, Timophey (notifications@github.com) wrote:

We plan to have a talk in slack ( https://siriusai.slack.com/ ) about the fork here - http://doodle.com/poll/aznr2c7d3ue9r8ap please send me\post your email to join.

—
Reply to this email directly or view it on Git

[2015-12-17 23:21] JeremyARussell commented on #86
Hey @arunbahl, I've gone ahead and added you to the slack team. See you there.

[2015-12-17 23:26] JeremyARussell commented on #86
If anyone else wants or needs an invite I'll be online for another hour to provide them. Most of us are all over the planet so our hours are crazy and many are already asleep, we'll try and make sure we have enough admin's available to add people throughout the day though, and we'll certainly be able to get everyone situated when we get up in the morning as well.. We aren't talking anything about

[2015-12-18 03:46] crazywolf132 commented on #86
@JeremyARussell  @Timopheym @virtadpt @wathek @EvanWieland Look. This is the first and last time I am saying it. I have set-up the project over at https://github.com/claritylab/sirius. My goal with this project is to help make it so modular, that in the not so distant future, we will be able to add this to a device and create our own personal assistants. I would like it to be so easy to install, t

[2015-12-18 04:24] mlaurenzano commented on #86
I'm one of the original Sirius developers, and its exciting to see so much interest being rekindled in the project! I'd like to join in on the discussions on slack. michael.laurenzano --- a.t --- gmail.com

[2015-12-18 10:52] crazywolf132 commented on #86
@JeremyARussell @Timopheym @virtadpt @wathek @EvanWieland sorry, i meant https://github.com/crazywolf132/sirius

[2015-12-18 12:40] wathek commented on #86
@crazywolf132 do you have a link to your other project with AIML ?

[2015-12-18 15:16] fpemud commented on #86
@Timopheym my email is fpemud@sina.com.

I'm writing sirius ebuild for Gentoo Linux, which would make sirius installation like a breeze. It would be a help for other distros as well.
sirius has a lot of dependencies so my pace is relatively slow.
The ebuilds are in [my overlay](https://github.com/fpemud/fpemud-overlay)

[2015-12-18 16:44] JeremyARussell commented on #86
@mlaurenzano  and @fpemud I went ahead and invited you guys to the chatroom.. I'll be in most of the day sporadically..

[2015-12-19 01:50] crazywolf132 commented on #86
@wathek please join the chat, as i am talking about it there.

[2015-12-22 13:37] d4ndo commented on #86
Has someone created an IRC channel?.

Or was this whole thing some troll attempt ?

[2015-12-22 14:16] JeremyARussell commented on #86
@d4ndo We have a slack channel, shoot me your email and I'll invite you on up..

[2015-12-22 21:57] JeremyARussell commented on #86
Great news everybody! The Sirius project isn't dead (well, not exactly). It's been re-branded as Lucida and development will be starting again full force ahead.The focus of the project will be on building Lucida into a modular, extensible open source intelligent assistant platform.

        The goal is to make it so that any individual Lucida component can be swapped out for another one. In additi

[2015-12-23 00:07] Meesingo commented on #21
I'm also receiving this error in `./start-asr-server.sh` when I test it with `./sirius-asr-test.sh ../inputs/questions/what.is.the.speed.of.light.wav`:

    ----------------------------------------
    Exception happened during processing of request from ('127.0.0.1', 54429)
    Traceback (most recent call last):
      File "/usr/lib/python2.7/SocketServer.py", line 599, in process_request_thread

[2015-12-28 23:11] posophe opened #89 "Status of openephyra"
Hi !

I'm an openSUSE maintainer, and have a lot of interest for lucida. Unfortunately, if I had been able to build other dependencies, openEphyra is pretty annoying, mainly because of obsolete dependencies.
First, maxent : the current API version is 3.0.2, provided by opennlp 1.6.0.
Then, minorthird : the most recent version, coming from https://github.com/TeamCohen/MinorThird is 20120608
JWNL is

[2015-12-28 23:50] posophe commented on #89
Possible alternatives (didn't look at these that much)
openqa : http://openqa.aksw.org
oaqa : https://oaqa.github.io/
yodaqa : http://ailao.eu/yodaqa/

[2015-12-29 19:17] dsmcfarl opened #90 "ASR accuracy with command-center/test.wav"
I successfully built and ran the asr, qa, and command-center; then ran "./ccclient --asr test.wav 8081" and received the correct answer, but the asr engine interpreted the test.wav as "who invented enough letters" instead of "who invented peanut butter".

Is this behavior expected with the test.wav file and the default asr config?

[2015-12-29 21:44] jkerak commented on #86
@JeremyARussell junior-ish developer here, looking to get involved, and interested in this project... send me a slack invite?

jkerak

 --- a.t --- gmail.com

[2015-12-29 22:57] JeremyARussell commented on #86
@jkerak Alright, invitation sent.. See you there if you get on in the next hour or so.

[2015-12-30 22:31] jhauswald commented on #90
This was recorded audio I had that I didn't get a chance to properly test since Ive been traveling and had limited internet connectivity (it was a challenge just getting Lucida pushed!)

It served its purpose though since you were able to test it! I'm going to grab the ones from Sirius and add them as soon as I can. What's currently there is a sample database of a few facts by the way.

[2015-12-30 22:42] jhauswald commented on #89
I spoke to the yodaqa owner a while back about using it as an alternative to open ephyra. At the time it was still heavy in dev and he was still working on the core but it'd be great to explore it and see the current status.

[2015-12-30 22:54] dsmcfarl commented on #90
That makes sense. I had not dug into it deep enough to realize the database only contained a few facts.  Thanks for the quick reply and sharing this great project.

[2015-12-30 23:17] posophe commented on #89
Good to know. Do you have an opinion about the others ?

[2016-01-01 12:03] posophe commented on #89
Ok so I asked Yodoqa dev what's the actual status/performances of yodaqa, and here is his answer :
"
  Very glad to hear you are interested in YodaQA!   We are also
working on extending it to a personal assistant style system with an
additional frontend layer, since it seemed Sirius is in hiatus.  But
we'll happily welcome any cooperation with the Lucida team!

  As far as I know, there have been

[2016-01-02 19:01] jhauswald commented on #89
We've looked into a few other deep learning options but we're still working on them:
- [Jacana](https://github.com/xuchen/jacana)
- [Qanta](https://cs.umd.edu/~miyyer/qblearn/)

To answer your original question, we don't plan to maintain OE beyond using what currently exists. The vision is to be able to swap QA systems in and out using the flexible [Thrift](thrift.apache.org) interface we proposed

[2016-01-02 19:28] posophe commented on #89
Not Yet. I'm trying to figure out how to play with Yodaqa. Unfortunately, maven is not available on openSUSE and then I'm not able to build it yet. I'm working on it anyway. Once it's done, I tell you.

[2016-01-02 19:45] jhauswald commented on #89
Sounds good, when I get the chance I'll play around with it as well. An alternative route would be to strip/replace the elements from OE that are obsolete and replace them. There's a lot in OE that's actually not needed for the basic functionalities (of course that's more work and if there's a better system that already works then that's more desirable)!

[2016-01-02 20:03] posophe commented on #89
I wouldn't bet on OE. Besides, there is a lot of work to be done on OE. But I'll help you the best I can.

[2016-01-03 08:53] kartx22 commented on #89
Hi, A generic Java toolkit for building dialogue systems http://opendial-toolkit.net it can be implement in lucida to get siri, cartona, ok google like experience.

[2016-01-03 11:41] posophe commented on #89
@kartx22 yep. Would be more user-friendly than the web interface. It was more a little qt widget in my mind.

[2016-01-03 12:17] kartx22 commented on #89
@posophe ya, trying to integrate botlibre to lucida

[2016-01-03 22:32] sgosnell commented on #37
PPAs required = not for me.  And not for Debian.  Either it uses the Debian repositories, or I don't install it.  And Debian will never accept anything that requires PPAs, at least until major changes are made.  I've already seen users complaining about sirius, and not knowing what was installed where.  Using the instructions given on the sirius website is just a mess.  You have to do a lot better

[2016-01-05 15:38] jhauswald commented on #90
Hey I updated the inputs (e97d20c). Some are meant for the small database (peanut butter and height of building) while the others are for the wikipedia database. I'll close this for now but let me know if you need anything else!

[2016-01-05 15:38] #90 closed

[2016-01-06 16:14] Timopheym commented on #85
I am afraid current QA system - OpenEphyra does not support this mechanism. You should write another QA thrift service that can provide it, f.e. based on Memory Artificial Neural Networks.

[2016-01-06 17:50] jhauswald commented on #85
There's actually a PR #91 that aims to do this. A student I've been working with implemented a thrift service that takes in a link (html page, pdf, etc) and generates a new indri database that OE can then query. @Timopheym's idea is a good one for other QA services but this will be a solution for OE.

[2016-01-08 03:00] jhauswald commented on #87
You'll need to look into training Kaldi separately for that and then hooking the model back in.

[2016-01-08 03:00] #87 closed

[2016-01-09 11:02] zm594406222 opened #93 "when i run ./start-qa-server,an issues below"

[2016-01-09 11:03] zm594406222 commented on #93
+++++ Searching (2016-01-09 18:34:16) +++++

Search error:
java.lang.Exception: ../src/Repository.cpp(435): Couldn't open a repository in read-only mode at '/usr/local/sirius-1.0.1/sirius-application/question-answer/wiki_indri_index/' because:
	../src/File.cpp(130): Couldn't open for reading: /usr/local/sirius-1.0.1/sirius-application/question-answer/wiki_indri_index/collection/storage

Search fai

[2016-01-09 11:18] zm594406222 commented on #62
when i run ./start-qa-server.sh,an error below:
Search error:
java.lang.Exception: ../src/Repository.cpp(435): Couldn't open a repository in read-only mode at '/usr/local/sirius-1.0.1/sirius-application/question-answer/wiki_indri_index/' because:
	../src/File.cpp(130): Couldn't open for reading: /usr/local/sirius-1.0.1/sirius-application/question-answer/wiki_indri_index/collection/storage

Search

[2016-01-10 15:57] tnga commented on #93
I have you try to do it with root mode ?

[2016-01-11 14:16] jhauswald commented on #93
It's not advisable to run in `/usr/local/`, is there a specific reason why you are doing so?

[2016-01-12 15:52] zm594406222 opened #94 "in ./image-matching directory,run make..."
root@zm-Lenovo:/usr/local/sirius-1.0.1/sirius-application/image-matching# make
g++ detect.o kp_protobuf.o keypoints.pb.cc store_mat.pb.cc -o match -lopencv_core -lopencv_highgui -lopencv_imgproc -lopencv_nonfree -lopencv_flann -lopencv_objdetect -lopencv_features2d -lopencv_gpu -lrt -lboost_program_options -lboost_filesystem -lboost_system -lprotobuf -ltesseract
/usr/lib/gcc/x86_64-linux-gnu/4.8/.

[2016-01-13 04:06] zm594406222 commented on #93
I have solved the issues.but Now i have a new issues.when i run ./image-matching/make,got the below:
root@zm-Lenovo:/usr/local/sirius-1.0.1/sirius-application/image-matching# make
g++ detect.o kp_protobuf.o keypoints.pb.cc store_mat.pb.cc -o match -lopencv_core -lopencv_highgui -lopencv_imgproc -lopencv_nonfree -lopencv_flann -lopencv_objdetect -lopencv_features2d -lopencv_gpu -lrt -lboost_program

[2016-01-13 06:08] zm594406222 opened #95 "Does the QA system support the query of chinese?"

[2016-01-13 14:44] jhauswald commented on #95
No currently it does not. You can either add your own QA system or develop a service to translate your query from chinese -> english to query the current QA system.

[2016-01-13 23:04] tnga commented on #93
It will be a good if you let us nkow what you expected to do when compiling like this; nkowing that there is already an associated compilation script fot that !

[2016-01-14 01:23] jhauswald commented on #93
@zm594406222 are you using opencv-2.4.9? if so how did you compile opencv?

[2016-01-14 01:23] #95 closed

[2016-01-14 01:23] jhauswald commented on #85
This is now merged in at https://github.com/claritylab/lucida/tree/master/lucida/learn

[2016-01-14 01:23] #85 closed

[2016-01-14 01:24] #84 closed

[2016-01-14 01:27] jhauswald commented on #83
If this is still an issue, please open a new issue. To answer your original questions:

1.) Can Sirius run on a real Server or does it have to be a desktop server type? Yes it can
1.) Do I need graphic GPU e.g. Nvidia or Radion to be installed? Nope you don't sirius runs on the CPU.
2.) Also do I need to installed a Sound Card? Depends where you are running the frontend to capture audio. If the cl

[2016-01-14 01:27] #83 closed

[2016-01-14 01:32] #79 closed

[2016-01-14 04:18] cdmeister commented on #94
seems like you  have an OpenCV issue. Did you install OpenCV from source or Ubuntu repository?

[2016-01-15 12:16] posophe commented on #89
Just a sample of future (awesome) yodaqa
https://github.com/brmson/yodaqa/issues/27

[2016-01-15 15:52] jhauswald commented on #89
We should get started comparing this with other systems and moving it into a thrift service to integrate it into the Lucida ecosystem of services. @yunshengb have you looked at YodaQA? Can you also post the list of QA systems you're currently working on

[2016-01-15 16:31] yunshengb commented on #89
I am working on Qanta, Jacana, and YodaQA.

[2016-01-15 23:51] jbauer180266 commented on #89
Maybe I should chime in. I'm currently writing my Master's thesis about UIMA-based QA systems and I'm the one who proposed adding distributional semantics to YodaQA, wrote the preliminary REST API for JoBim Text and I've also been playing with domain adaptation. Besides that I've written two applications: One to use QA backends (at least 4 of which not mentioned here), which also has basic options

[2016-01-18 03:37] lucmichalski opened #96 "Docker-compose / Kubernetes"
Hi guys,

Hope u are doing well !

Is there any docker-compose or kubernetes templates available for Lucida ?

That would be awesome !

Cheers,
Luc Michalski

[2016-01-18 07:44] Timopheym commented on #96
Hey @lucmichalski there was one Docker file for sirius https://github.com/hoseoglee/sirius-docker i think it will be easy to edit it for Lucida, do you have an experience with docker?

[2016-01-19 02:54] jhauswald commented on #96
As @Timopheym said, currently there isn't a docker image besides the start of that one. We'd love to have some help setting one up @lucmichalski.

[2016-01-19 02:57] lucmichalski commented on #96
I am friend with the guy who coded docker :-)

I will create one if u want.

Have u ever considered to use http://iris.karalabe.com/ in order to get mixed query results with the surveyor/respondent pattern ? That would be awesome too for Lucida

[2016-01-19 03:04] jhauswald commented on #96
Well sounds like you're (over)-qualified to take lead on this then :+1:

And now we have not, I'll definitely take a look and relay it to the team I'm working with, thanks for the tip!

[2016-01-19 03:27] lucmichalski commented on #96
Communication patterns are the first step to build a neuron... Lucida is all about that :-)

Keep u update for the dockerfile or docker-compose. I do not think that Lucida is ready for some Kubernetes templates for the moment until some proper routing rules could be setup (especially for the image matching if u want to go large scale).

[2016-01-19 04:49] Timopheym commented on #96
I don't see C++ bindings for Iris actually.

On Tue, Jan 19, 2016 at 6:27 AM, Luc Michalski <notifications@github.com>
wrote:

--
Kind regards,
Timophey Molchanov.

First do it, then do it right, then do it fast.

[2016-01-19 18:20] lucmichalski commented on #96
@Timopheym here is a couple of links using nanomsg (surveyor/respondent pattern) in cpp (using bond for serialization):

Repo: https://github.com/daniel-j-h/DistributedSearch/
Article: https://daniel-j-h.github.io/post/distributed-search-nanomsg-bond/

Some interesting go examples are available with iris at: https://github.com/ibmendoza/go-examples

Advantage of iris, name based discovery of servi

[2016-01-20 22:36] lucmichalski commented on #96
@Timopheym Here is an interesting repo for Image Matching allowing you to mix all the existing Features Descriptors/Detectors in c++ with an inverted search: https://github.com/introlab/find-object.

[2016-01-21 18:53] cdmeister commented on #86
Hey  I was wondering if I could get an invite for the slack channel. I was one of the students that worked on Lucida over the summer that port it over into Thrift. Particularly I worked on the thrift interface for ASR

[2016-01-21 19:13] jhauswald commented on #86
Done.

[2016-01-26 10:58] zm594406222 opened #97 "it spend so long getting result using openethyra"
$ ./sirius-qa-test.sh "what is the US president"
(1) Your query text is:
what is the US president
(2) Sending request to server...
Obama

This process cost about 50 seconds,I wonder how to accelerate the speed

[2016-02-06 13:22] Vitorbnc commented on #96
Hi,
I couldn't find an image on docker hub, is there one?

[2016-02-27 18:54] ryanniehaus opened #98 "imserver doesn't use command line arguments as documentation states"
Ports are hard coded in imserver.  Command line arguments are currently ignored.
(I compiled the command center version under lucida/lucida/imm/lucida/)

Ports should be configurable (per README.md in that folder)

[2016-02-27 19:04] ryanniehaus opened #99 "Compiling asr for command center can't find sox.h if libsox-dev is not installed"
Running make in lucida/lucida/asr/lucida/ without libsox-dev installed will fail because sox.h does not exist.

I think https://github.com/claritylab/lucida/blob/master/lucida/asr/common/scripts/prepare.sh should be updated to install libsox-dev with apt-get

[2016-02-27 19:30] ryanniehaus opened #101 "After building qa, start_qa.sh errors out with "Could not find or load main class QADaemon""
compiled in lucida/lucida/qa/lucida/

[2016-02-29 01:22] #99 closed

[2016-02-29 18:36] cdmeister commented on #98
Yea we know about that. Nobody has gotten around to it. For args parsing, we want to use boost's program options to parse the args.

[2016-02-29 18:37] cdmeister commented on #101
Was there a bunch of compiling errors that were related to thrift by any chance?

[2016-02-29 18:44] cdmeister commented on #97
Yea its pretty slow. At the moment we are exploring other options for QA. If you know any other QA systems please share!

[2016-02-29 18:44] cdmeister commented on #97
Also look at #89.

[2016-03-01 02:50] ryanniehaus commented on #101
Oh yeah... somehow I missed that.

I get a bunch of  "error: package org.apache.thrift does not exist"
is there a classpath or something that needs to be set?

[2016-03-01 02:56] cdmeister commented on #101
So, you need to download thrift v9.2 and compile only java stuff via ant. And then you have to link the thrift jar file that is produced via ant in one of the configure scripts to make qa compile.

I am not sure if this is documented, but its kinda of annoying. Let me know if you are still having trouble.

[2016-03-02 01:36] ryanniehaus commented on #101
Please see pull request #103 for better qa build instructions

[2016-03-02 14:11] ryanniehaus commented on #101
Thanks for the help.  I was able to get this working now.  Very cool work you've done here.
I've even built my own index to experiment with.

One question:  In the promo video, I saw a GUI.  Is the GUI code included somewhere?  I'm not seeing it.  It'd make things a little easier to play around with it.

[2016-03-02 15:20] JeremyARussell commented on #101
I can field that one :) Check it out here at https://github.com/claritylab/clarity-mobile

I've started dabbling with getting it working but I think I'm running into errors on my first Ubuntu Lucida VM because I kind of used the new Thrift 0.9.3 instead of 0.9.2.. If you end up diving into it yourself drop me a line and maybe we can investigate together.

[2016-03-02 15:30] jhauswald commented on #98
I've actually fixed some of these as I was building a docker for lucida https://github.com/jhauswald/lucida/commit/18b4f462186fdc866a380e932961242da89aa5d2. Once I'm done with that I'll push it to the master repo. Thanks for pointing it out!

[2016-03-02 15:32] jhauswald commented on #101
We're giving a tutorial next week in Barcelona (check out [lucida.ai](lucida.ai)) at a conference and we'll probably have a browser front-end by then. Although as @JeremyARussell pointed out there is one, it just needs a little work ;)

[2016-03-06 08:49] lavvy commented on #96
Any kubernetes yaml yet

[2016-03-21 13:33] #26 closed

[2016-03-22 18:44] jhauswald commented on #30
superseded by #104

[2016-03-22 18:44] #30 closed

[2016-03-22 18:44] jhauswald commented on #34
superseded by #104

[2016-03-22 18:44] #34 closed

[2016-03-22 18:45] jhauswald commented on #38
This can now be set in the top level Makefile (https://github.com/claritylab/lucida/blob/master/Makefile#L6) for the build.

[2016-03-22 18:45] #38 closed

[2016-03-22 18:45] #48 closed

[2016-03-22 18:45] jhauswald commented on #61
Included in #104 and check out http://lucida.ai for a virtualbox!

[2016-03-22 18:45] #61 closed

[2016-03-23 18:19] yunshengb commented on #89
After some tweaks, YodaQA is still slower than OpenEphyra, and the accuracy is roughly the same as OpenEphyra.

[2016-03-23 18:21] yunshengb commented on #89
However, YodaQA is still under development, and we will probably bring in YodaQA soon, and let users choose which one to use.

[2016-03-23 19:38] jbauer180266 commented on #89
Maybe I can help with this. I have been able to improve recall, precision and response time for my thesis with some simple tricks (in a dedicated REST backend) to answer 1.5x-2x as many questions as the standard version. Since I'm soon part of the team, I can provide all source code the moment I hand in my thesis, which will be before the end of next month. In my "Grand Challenge" https://github.c

[2016-03-23 20:11] yunshengb commented on #89
Sounds good!

On average, how long does a query take on your version of Yoda? I can make it ~40 seconds per query, but OpenEphyra takes ~30 seconds.

[2016-03-23 20:44] jbauer180266 commented on #89
Huh?! I'm at 9 seconds average, worst case 26s.

[2016-03-23 21:02] yunshengb commented on #89
3.1 GHz, 16 GB RAM . And it connects to clarity server for Wikipedia and DBpedia. Are you running them on your own machine, or connecting to the author's machine?

[2016-03-23 21:52] jbauer180266 commented on #89
First a quick correction: I'm at under 8s average and 19s worst case - the other values were old. I can already reveal some extremely simple results that should help you out: I run everything myself including Freebase (and both label services), which helps. While I do have more RAM (32GB) and maybe a faster CPU, the bottleneck is not computational power, but I/O. Hence, I've run Yoda in several SS

[2016-03-23 22:08] yunshengb commented on #89
Thanks for your information.

Unfortunately, our clarity server (at least the one I have access to) ran out of space when I tried deploying Freebase, so currently my version uses only Wikipedia and DBpedia running on that server. I notice that adding Freebase can improve the accuracy by ~10%. I agree that some small tricks can improve the speed dramatically. Personally I tried some and it worked.

[2016-03-23 22:13] jbauer180266 commented on #89
Query classifier? Like according to topic? I have written one as one of the additional contributions I've mentioned, since I've also been working with IBM Watson, e.g. for the healthcare domain. Maybe we should collaborate closer to avoid more redundant work...

PS:
If you are into containerization, take a look at https://github.com/brmson/yodaqa/issues/41 where I show how to orchestrate all those

[2016-03-23 22:22] yunshengb commented on #89
I am working at the level of the command center, so the query classifier is basically a controller that tells the command center which services should be used. I think the one you mentioned is dedicated  to Yoda QA, but perhaps they have overlapping.

For instance, if the query is "What is the age of this person?" along with a photo image, the classifier should say "facial recognition" and "OpenEp

[2016-03-23 22:49] jbauer180266 commented on #89
Two last comments [it's 23:40PM here and I need to be back around 8:00AM, so I'll head home after this]:

Freebase only has ~260GB. Take any consumer machine with a 2TB HDD and 16GB RAM, setup Freebase over 5-6 days, then simply copy the d-freebase directory to your server and just execute Fuseki with it: Running seems much less resource-intensive than setting it up. Worked fine for me, unless you

[2016-03-24 18:47] jbauer180266 commented on #89
Update:
I've asked about sharing my major contributions early, but I was advised to first hand in my thesis in order to avoid raising wrong red flags as well as intellectual property questions. As soon as it's submitted I'll contact you and Petr to get the remaining stuff properly integrated into or with Lucida and Yoda.

[2016-04-07 20:42] pasky commented on #89
@yunshengb, thanks for comparing YodaQA to OpenEphyra. You mentioned you found the accuracy comparable (albeit that was without Freebase enabled in YodaQA).  Do you still have a details re how did you compare it?  Did you use any specific dataset, or have the list of questions (and possibly system answers) still around?  Or was it just an informal comparison?

[2016-04-13 20:47] betzelelgalut opened #110 "Mycroft / adapt"
hi, i have been following this project, yodaQA and the Mycroft project. i see that they have released the AI intent deciphering engine called adapt as opensource. https://adapt.mycroft.ai/ i thought that maybe people from this project might want to take a look at what they are doing, so as to incorporate some of their ideas into this project. they have a github page too: https://github.com/Mycroft

[2016-04-18 18:01] jhauswald opened #113 "[dev] High Level Issues/Comments"
As of a37daa626a4dc78f7dc9ea8a745aae17a8ae1a15
**Issues**:
- All new services should be integrated into the build system and should pass continuous integration
- OpenEphyra doesn't build, needs a Makefile.
- `thrift-gen.sh` breaks because OpenEphyra was renamed
- calendar service readme looks somewhat confusing
- OpenEphyra has some autogenerated thrift source committed, should be removed. Only ge

[2016-04-18 18:54] yunshengb commented on #113
"OpenEphyra doesn't build, needs a Makefile." Please read lucida/lucida/questionanswering/README.md: "Navigate to OpenEphyra, ./compile-OpenEphyra.sh" should build OpenEphyra. Please understand that OpenEphyra isn't written in C/C++, and Apache Ant is used as the build system of OpenEphyra.

[2016-04-18 18:56] yunshengb commented on #113
"OpenEphyra has some autogenerated thrift source committed, should be removed. Only generate at runtime." Please notice that the first line of lucida/lucida/questionanswering/OpenEphyra/src/lucida/thrift/LucidaService.java is "package lucida.thrift;" which is added manually because of Java's building rules. Automatically generated thrift source code does not have that line.

[2016-05-10 19:58] k0105 commented on #110
Just for the record: I should have early access to their SDK.

[2016-05-13 22:07] k0105 opened #116 "Cannot run Lucida"
First of all, a heads-up: Lucida won't compile under GCC 5 (and hence Ubuntu 16.04 LTS in default configuration) due to ABI changes and it doesn't work with Firefox (you state to only use Chrome, but it is still a nuisance).

Pulling the Docker containers does not work for me: `docker-compose up` from Lucida's main directory pulls the images, but fails afterwards with:
[code]

Using the tutorial d

[2016-05-13 22:50] yunshengb commented on #116
First of all, we are working on the next generation of Lucida, which will be released by the end of this summer, but should be earlier than that.

We will have an entirely new command center, a better QA experience, a web front end, a new service, and detailed instructions on how to replace individual components with your own.

We will test the new version on Ubuntu 16.04, and fix the supervisord

[2016-05-15 15:10] bgrayburn commented on #116
are there to be no changes to this project until the next version? would you accept a pull request to fix the docker stuff? I understand you are working hard, and this is an awesome project, but I'm hoping I can actually start using/developing with it. at the very least if you know things in the repo are broken, prevent many wasted man hours by making it clear that things aren't currently working

[2016-05-17 01:37] yunshengb commented on #116
I will accept pull request. Please do so to fix the current version. I am not the guy who created the docker stuff, but I can take care of it. Thanks!

[2016-06-30 21:03] yunshengb commented on #86
Lucida is migrating to the next version. Wait for a demo website by the end of this summer, or look at the ```dev``` branch!

[2016-06-30 21:03] #86 closed

[2016-06-30 21:06] yunshengb commented on #96
I am deploying the demo website for the next generation of Lucida on a university server. I am using Kubernetes and check out [this repo] (https://github.com/yunshengb/KuberLucida) for the Kubernetes scripts. They will be integrated into this repo by the end of this summer.

[2016-06-30 21:09] yunshengb commented on #77
Next generation will be released by the end of this summer! Wait for a basic but working demo website deployed using Kubernetes.

[2016-06-30 21:09] #77 closed

[2016-07-06 10:08] cwpearson opened #119 "no space left on device with docker pull claritylab/lucida:latest"
Running `sudo docker pull claritylab/lucida:latest` yields

`failed to register layer: ApplyLayer exit status 1 stdout:  stderr: write /usr/local/lucida/lucida/speechrecognition/common/src/gmmbin/gmm-rescore-lattice: no space left on device`

when extracting the final pull.

`uname -a` = `Linux rigel 4.5.7-040507-generic #201606100436 SMP Fri Jun 10 08:38:43 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

[2016-07-07 15:38] MusicalCreeper01 commented on #119
`no space left on device`

Do you have enough space left on your disk? With `df -i` you can check how much space on the partition is being used :)

[2016-07-07 16:26] cwpearson commented on #119
:) believe it or not, I thought of that. Probably should have posted the output as well. As  I understand it, docker images are stored in `/var/lib/docker` on Ubuntu.

    $ df -h /var/lib/docker/
    Filesystem      Size  Used Avail Use% Mounted on
    /dev/nvme0n1p7  217G   63G  143G  31% /

So it seems like there should be enough room, at least for now. And I have been able to successfully `doc

[2016-07-09 18:46] #113 closed

[2016-07-11 11:50] cwpearson commented on #119
This issue seems to be no longer relevant given the new docker instructions in 452eedd

[2016-07-15 10:09] prakharnigam opened #120 "Not able to build lucida in VM Ubuntu 32 bit"
libtoolize: putting auxiliary files in AC_CONFIG_AUX_DIR, `build-aux'.
libtoolize: copying file `build-aux/ltmain.sh'
libtoolize: putting macros in AC_CONFIG_MACRO_DIR, `m4'.
libtoolize: copying file `m4/libtool.m4'
libtoolize: copying file `m4/ltoptions.m4'
libtoolize: copying file `m4/ltsugar.m4'
libtoolize: copying file `m4/ltversion.m4'
libtoolize: copying file `m4/lt~obsolete.m4'
checking for

[2016-07-15 14:02] yunshengb commented on #120
The error says,

[code]

[2016-07-18 18:31] prakharnigam commented on #120
got issue in facebook/folly, it seems that folly don't have support on 32 bit system.
See this link.
https://github.com/facebook/folly/issues/442#event-726472192

Now trying with 64 bit Ubuntu 14.04

[2016-07-18 22:15] yunshengb commented on #78
You can add another QA engine into Lucida or replace the current one with your own. Read abd follow `Design Notes -- How to Add Your Own Service into Lucida?` of the top level readme.

[2016-07-18 22:15] #101 closed

[2016-07-18 22:16] yunshengb commented on #40
The front end is updated as in `lucida/lucida/commandcenter`. Please check it again. Thanks.

[2016-07-18 22:17] yunshengb commented on #71
The QA service is updated so that it no longer uses Wikipedia. Please check out the latest version. Thanks!

[2016-07-18 22:19] yunshengb commented on #63
Please pull the latest version, and see if the issues still remain. Thanks!

[2016-07-18 22:20] yunshengb commented on #67
Please check out the latest version which uses web socket. Thank you!

[2016-07-18 22:20] yunshengb commented on #94
Please check out the latest version and build again. Thank you!

[2016-07-18 22:21] yunshengb commented on #96
Check out `tools/deploy`. Thanks!

[2016-07-21 13:25] prakharnigam opened #121 "Getting make local error"
Err http://security.ubuntu.com trusty-security InRelease

Err http://extras.ubuntu.com trusty InRelease

Err http://ppa.launchpad.net trusty InRelease

Err http://ppa.launchpad.net trusty InRelease

Err http://repo.mongodb.org trusty/mongodb-org/3.2 InRelease

Err http://extras.ubuntu.com trusty Release.gpg
  Could not resolve 'extras.ubuntu.com'
Err http://repo.mongodb.org trusty/mongodb-org/3.2

[2016-07-21 14:12] yunshengb commented on #121
I assume you are using Ubuntu 14. Can you backup your repository sources list `/etc/apt/sources.list` and compare with this:

[code]

[2016-07-21 14:17] yunshengb commented on #121
Also, see if [this post](http://askubuntu.com/questions/452595/cannot-add-ppa-behind-proxy-ubuntu-14-04) and [this post](http://askubuntu.com/questions/429803/cannot-add-ppa-please-check-that-the-ppa-name-or-format-is-correct) help.

[2016-07-21 14:37] yunshengb commented on #121
Third, [the script described here](http://askubuntu.com/questions/65911/how-can-i-fix-a-404-error-when-using-a-ppa-or-updating-my-package-lists) automatically removes offending software-sources and solved the issue on my computer.

[2016-07-25 14:58] prakharnigam commented on #121
Thanks for quick reply. :+1:
That issue is resolved by above details. But now i am facing following issue

[2016-07-25 15:00] prakharnigam commented on #121
./gradlew build
:compileJava UP-TO-DATE
:processResources UP-TO-DATE
:classes UP-TO-DATE
:jar UP-TO-DATE
:startScripts UP-TO-DATE
:distTar UP-TO-DATE
:distZip UP-TO-DATE
:assemble UP-TO-DATE
:compileTestJava UP-TO-DATE
:processTestResources UP-TO-DATE
:testClasses UP-TO-DATE
:test UP-TO-DATE
:check UP-TO-DATE
:build UP-TO-DATE

BUILD SUCCESSFUL

Total time: 14.855 secs

This build could be faster,

[2016-07-25 15:31] yunshengb commented on #121
Just fixed. Please `git pull origin master` and `make` again in `lucida/djinntonic`. Thanks!

[2016-07-25 15:47] #120 closed

[2016-07-26 19:24] prakharnigam commented on #121
Resolved. Thanks

[2016-07-26 19:24] #121 closed

[2016-07-26 19:29] prakharnigam opened #122 "Lucida run time error"
:compileJava UP-TO-DATE
:processResources UP-TO-DATE
:classes UP-TO-DATE
:run
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
Exception in thread "main" java.lang.UnsupportedClassVersionError: edu/stanford/nlp/pipeline/Annotator : Unsuppo

[2016-07-26 22:06] yunshengb commented on #122
1. Go to `tools` and `sudo ./install_java.sh` to upgrade to java 8.

2. Come back to `lucida/calendar` and `make` again.

See if the problem still exists. Thanks!

[2016-07-26 22:12] yunshengb commented on #98
Unfortunately. we no longer support command line argument for port. Ports are fixed for easy maintenance, because if you change the port, you have to also modify the configuration of the command center and the Kubernetes scripts. Thanks for understanding.

[2016-07-26 22:12] #98 closed

[2016-07-26 22:12] #96 closed

[2016-07-26 22:12] #94 closed

[2016-07-26 22:14] yunshengb commented on #74
Could you pull the latest changes and provide more details if the problem still exists?

[2016-07-26 22:15] yunshengb commented on #23
Please pull the latest change and see if the problem still exists. Thanks!

[2016-07-26 22:16] yunshengb commented on #7
Done. Please pull the latest changes.

[2016-07-26 22:16] #7 closed

[2016-07-26 22:19] #67 closed

[2016-08-13 03:21] diegogrecco commented on #119
+1

[2016-08-13 03:25] yunshengb commented on #119
It needs 16 GB of disk space as mentioned [here](https://github.com/claritylab/lucida/tree/master/tools/deploy), half of which is Kaldi ASR and its models.

[2016-08-13 03:30] diegogrecco commented on #119
Data Space Available: 97.87 GB

[2016-08-13 21:06] yunshengb commented on #119
1. What is your docker version? This is mine:

[code]

2. Can you run a hello-world example: `sudo docker run hello-world`?

Thanks!

[2016-08-14 14:39] diegogrecco commented on #119
[root@ol7 ~]# docker version
Client:
 Version:      1.12.0
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   8eab29e
 Built:
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.0
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   8eab29e
 Built:
 OS/Arch:      linux/amd64

[2016-08-15 01:08] diegogrecco opened #123 "Cannot run docker container"
I tried to run the docker container inside kubernetes

[root@master deploy]# kubectl get pod
NAME                         READY     STATUS         RESTARTS   AGE
asrmaster-controller-xg6x7   0/1       ExitCode:2     9          6m
asrworker-controller-ipoyi   0/1       ExitCode:2     9          6m
asrworker-controller-oap6n   0/1       ExitCode:2     9          6m
ca-controller-labtv          0/1

[2016-08-15 01:27] yunshengb commented on #123
What is the output of `kubectl describe pod web-controller-xqvl1`?

[2016-08-15 01:31] diegogrecco commented on #123
[root@master deploy]# kubectl describe pod web-controller-xqvl1
Name:  				web-controller-xqvl1
Namespace:     			default
Image(s):      			claritylab/lucida
Node:  				minion1/10.196.149.70
Labels:				name=web
Status:				Running
Reason:
Message:
IP:    				172.17.0.3
Replication Controllers:       	web-controller (1/1 replicas created)
Containers:
  web:
    Image:     		claritylab/lucida
    Sta

[2016-08-15 02:09] yunshengb commented on #123
If you look at [this](https://github.com/claritylab/lucida/blob/master/tools/deploy/web-controller.yaml), you should pull `ybga/lucida` NOT `claritylab/lucida`.

[2016-08-21 01:19] diegogrecco commented on #123
Thanks, i update the controller yaml files and everything is running now, but some of the controllers cant communicate between them.

LOG (ComputeDerivedVars():ivector-extractor.cc:183) Computing derived variables for iVector extractor
LOG (ComputeDerivedVars():ivector-extractor.cc:204) Done.
2016-08-21 01:15:59 -    INFO:   decoder2: Setting pipeline to READY
2016-08-21 01:15:59 -    INFO:   deco

[2016-08-21 01:22] yunshengb commented on #123
1. Have you set up HTTPS?

2. Have you checked `kubectl logs asrmaster-controller-xi8tw`?

3. What is the output of `kubectl get service`?

Thanks!

[2016-08-21 01:46] diegogrecco commented on #123
Everything is working! I was able to access the lucida console!

I need help with another question, do you have a base configured with the factoids already inputed on the database or i need to create mine? I want to understand the main instructions that's why i am asking, to accelerate my developing tests.

Thanks

[2016-08-21 01:50] yunshengb commented on #123
Currently you need to create your own under the `Learn` tab. However, we are working on bringing Wikipedia back so that you will be able to use both your own database and the entire Wikipedia.

[2016-08-21 02:04] diegogrecco commented on #123
Completely understand. One more question. On the lucida home page, there is a demo video with a guy using a tablet, where i can download that app? Is it available on Apple Store and Google because i didn't find it.

Thanks for you attention and support on this.

[2016-08-22 14:33] martinmmmeier opened #124 "logic error in install_opencv.sh"
Hi,

i just cloned repo and tried to build master on xubuntu 14.04.5 x64 (fresh install).
make local aborts at install_opencv.sh with message that opencv2/core/core.hpp is not found, but contradictingly stating that opencv is already installed.
Reason is logical error in line 12 of install_opencv.sh, which should be ...
if !installCheck

Can anybody please update this one ?
Thanks!
-Martin

[2016-08-22 14:57] yunshengb commented on #124
Fixed. Thank you!

[2016-08-30 21:22] yunshengb commented on #123
Wikipedia has been brought back. Refer to [README](https://github.com/claritylab/lucida/tree/master/tools) for how to download and use Wikipedia.

We have mobile apps in [this repository](https://github.com/claritylab/clarity-mobile), but they haven't been updated to work with the latest version of Lucida in this repository.

Please tell me if you have further questions. Thanks!

[2016-08-31 03:57] Hangphuong opened #125 "Error when run file /start-asr-server.sh in Sirius"
When I run file /start-asr-server.sh in Sirius, I got some errors. I don't know what is it and how to fix it. please give me some comment if you know

WARNING (online2-wav-nnet2-latgen-faster:HasKeyInternal():util/kaldi-table-inl.h:1635) Error opening stream null
ERROR (online2-wav-nnet2-latgen-faster:Value():util/kaldi-table-inl.h:1576) Could not get item for key utterance-id1, rspecifier is scp:

[2016-08-31 11:45] diegogrecco commented on #123
Thanks for the reply. I will test it now and get back to you!

[2016-08-31 14:03] yunshengb commented on #125
Are you using the latest version? I cannot find `start-asr-server.sh` in this repo. Please pull the latest change and compile dependencies in `tools` and then kaldi in `lucida/speechrecognition/kaldi_gstreamer_asr`. Thanks!

[2016-08-31 14:40] diegogrecco commented on #123
Hi yunshengb,

everything works fine we are able to use Wikipedia on our project, importing the URL.

Now i have 2 questions!

How to import the images from Wikipedia site?
How to make the speech input work?

[2016-08-31 14:57] yunshengb commented on #123
Hi diegogrecco,

Currently you have to download the images and upload one at a time.

What do you mean by "make the speech input work"? If you have deployed [asrmaster-controller.yaml](https://github.com/claritylab/lucida/blob/master/tools/deploy/asrmaster-controller.yaml) and [asrworker-controller.yaml](https://github.com/claritylab/lucida/blob/master/tools/deploy/asrworker-controller.yaml), you

[2016-08-31 15:50] diegogrecco commented on #123
The speech is not being recognized. I click on the voice button and nothing happens.

[2016-08-31 15:52] yunshengb commented on #123
Can you open up the console of your browser and post the output here? If you use Chrome, just right click and select "Inspect->Console". Thanks!

[2016-08-31 16:00] diegogrecco commented on #123
Using //@ to indicate sourceMappingURL pragmas is deprecated. Use //# instead jquery-1.10.2.min.js:1:0
navigator.mozGetUserMedia has been replaced by navigator.mediaDevices.getUserMedia dictate.js:103:4
Use of getPreventDefault() is deprecated.  Use defaultPrevented instead. jquery-1.10.2.min.js:5:17117
Firefox can't establish a connection to the server at ws://localhost:30001/client/ws/status. di

[2016-08-31 17:56] yunshengb commented on #123
Just as a reference, I just cloned the repo on a fresh Ubuntu virtual machine, and deployed everything (08/31/2016, 1pm). The ASR seems to work fine on my virtual machine.

[2016-08-31 19:08] diegogrecco commented on #123
i am running on centos

[2016-08-31 19:09] yunshengb commented on #123
So could you post the logs of your asrmaster controller please? `kubectl logs <controller_name>`. Thanks!

[2016-08-31 19:45] diegogrecco commented on #123
[root@master ~]# k get pods
NAME                         READY     STATUS    RESTARTS   AGE
asrmaster-controller-x1sfh   1/1       Running   1          6h
asrworker-controller-w11in   1/1       Running   1          6h
asrworker-controller-wa2cc   1/1       Running   1          6h
ca-controller-sf9i4          1/1       Running   1          6h
imm-controller-jlc4f         1/1       Running   2

[2016-09-01 04:23] Hangphuong commented on #76
I had same error like you. So I want to know how to you solve this error, Mr Andrew M Olney

[2016-09-01 06:56] Hangphuong commented on #125
Thank you about your repply.
I download the Sirius verson 1.0.1 on this page:
http://sirius.clarity-lab.org/downloads/#sirius
This is start-asr-server.sh and i done all of steps following this page:
http://sirius.clarity-lab.org/sirius/

2016-08-31 21:03 GMT+07:00 yunshengb <notifications@github.com>:

[2016-09-01 09:35] Kezryk opened #126 "Can not get Lucida to install."
Every reference i find to install Lucida doesnt work. Missing folders wrong paths etc. Needs a better way to install and use..

[2016-09-01 13:43] yunshengb commented on #126
First of all, I completely understand your feelings, because I experienced the same frustration when I saw errors like those.

I'd like to suggest using Kubernetes to deploy Lucida, because Docker containers tend to be stable and portable once they are built. In other words, they are immune to new updates in this repo.

However, if you want to compile Lucida locally, please understand that frequen

[2016-09-01 14:10] yunshengb commented on #123
If you see `Opened websocket connection to server` from the worker and `New worker available <main.WorkerSocketHandler object` from the master server, you should be able to use the ASR at least from the command line (by inputing an audio file). The problem seems to be that FIreFox cannot connect to the master server. Therefore, could you check the connection by visiting `https://<your_domain_name>

[2016-09-01 14:28] yunshengb commented on #125
Hello,

[2016-09-01 14:29] yunshengb commented on #125
I am contacting the original author of Sirius and I will keep you updated. Thanks!

[2016-09-01 14:32] #124 closed

[2016-09-01 14:50] yunshengb commented on #119
[The README](https://github.com/claritylab/lucida/tree/master/tools/deploy) has been updated for this. Thank you!

[2016-09-01 14:50] #119 closed

[2016-09-01 19:00] diegogrecco commented on #123
Hi, yes, i can see the same image as you when i access the port 30001, but only through http and not over https protocol.

[2016-09-01 19:06] yunshengb commented on #123
From what I see in your logs

[code]

You are using [the HTTP version](https://github.com/claritylab/lucida/blob/master/tools/deploy/asrmaster-controller.yaml), which is why it says `ws`. If you had used [the HTTPS version](https://github.com/claritylab/lucida/blob/master/tools/deploy/asrmaster-controller-https.yaml), it would have said `wss`. Is that correct? If so, your web server should also be

[2016-09-01 19:13] diegogrecco commented on #123
i steel receive the connection refused error on firefox and safari

[2016-09-01 19:16] yunshengb commented on #123
As I said, please double check your local settings, and try re-starting everything using the latest scripts in this repo. Thanks a lot.

[2016-09-02 02:58] Hangphuong commented on #125
Wow, thank you so much. It is great.
I really want to solve about this error.
I will try using the lastest ASR .
Thanks again.

[2016-09-09 07:06] AsoulYang opened #127 "Minimum requirement of CPU & memory"
Hi, I'm new to Lucida,
I just installed the Lucida on an AWS t2.micro machine,
and it was blocked for a long time, (I cannot check other commands because out of memory)
Finally I got

[code]

Seems the memory is not enough.

Is there a minimum requirement for Lucida? or what's the AWS machine should I choose for Lucida?
Thanks

[2016-09-09 07:29] AsoulYang commented on #127
Is Lucida need more CPU or RAM?
I found the minimum requirement for Kubernetes deploy version, the minimum RAM is 16G and Disk is 18G.
If I want to run lucida fluently, should I choose c3.4xlarge, m3.2xlarge, r3.2xlarge or others?
Thanks

[2016-09-20 14:22] dholbach opened #128 "Provide lucida snap"
Snaps are self-contained packages that include all of the dependencies they need, which lets them run as you intended across new releases of Ubuntu, Arch, Debian, Gentoo, Fedora, openSUSE, OpenEmbedded, Yocto and OpenWRT. They run in a sandbox which protects them from changes made to the user's system, but with a number of optional interfaces if you need deeper interaction or to share data with ot

[2016-09-20 14:27] dholbach commented on #128
I had a look over the installation process and it looks like a lot of it is about installing the right dependencies.

In the case of packages installed through `apt` (no matter if they come from the Ubuntu archive or PPAs), this can be expressed in the `snapcraft.yaml` file through
[code]

Another important factor seems to be dependencies pulled in through `pip`. This is also easy to express as:
[

[2016-09-21 01:22] zhengwx11 opened #129 "make local failed."
I tried `make local` but failed.
The problem is :
[code]
In the source file, static declaration of `X509_REVOKED_dup` is declared, but in the global library libopenssl (/usr/include/openssl/ssl.h) there is another non-static declaration. These two conflict.

Should I modify the source file?

[2016-09-21 02:09] zhengwx11 commented on #129
This is caused by `pip install pyOpenSSL==0.13`. It is not the default version so that it need compiling but failed.
To move on, I use `pip install pyOpenSSL==16.1.0` instead.

[2016-09-22 11:47] #129 closed

[2016-09-23 05:00] KrishnaPG opened #130 "IPA image VM connection refused: localhost:8089/demos"
Trying the "Build your own IPA image" VM shared in the tutorial http://lucida.ai/tutorial.html

The tutorial notes indicate to run `docker-compose up` and then `localhost:8081`

The `localhost:8081` worked fine. When clicked on submit button, though, it went to `localhost:8080/demos` and 'connection refused'.

How to troubleshoot this?

[2016-09-23 16:11] yunshengb commented on #130
The tutorial and the image in the website has not been updated yet. The ones in this Github repo are the latest. They are similar but the latest version has more features and functionalities, and I can help you quicker if you use that.

However, I can contact the author for you if you prefer to use that version. Please tell me your choice. Thanks a lot!

[2016-09-24 05:01] KrishnaPG commented on #130
Thank you @yunshengb The reason for using that tutorial VM was it looked like easy to setup with single step (just download and launch the VM).

Setting it from this repo, looks like a much involved process and also the 16GB RAM requirement was little bit on the high side (given that the VM from tutorial was using around just 6GB RAM).

Will try to give this repo a try. Wish the RAM requirements c

[2016-09-24 05:18] yunshengb commented on #130
Hi,

If you disable certain services, the memory usage will be brought down. For example, you can modify [this line](https://github.com/claritylab/lucida/blob/master/tools/deploy/start_services.sh#L35) so that you only start the services you need.

[2016-09-24 05:41] yunshengb commented on #130
Just deployed all the services using Kubernetes on my virtual machine:

![image](https://cloud.githubusercontent.com/assets/8391016/18806340/d7fcb3d4-81f7-11e6-9245-8e58813e6c7e.png)

I have corrected the [README](https://github.com/claritylab/lucida/blob/master/tools/deploy/README.md).

Please tell me if you have further concerns. Thanks!

[2016-09-24 05:43] yunshengb commented on #127
Hi,

The minimum RAM requirement has been updated [here](https://github.com/claritylab/lucida/blob/master/tools/deploy/README.md). It should be 7 GB, NOT 16 GB. Thanks a lot!

[2016-09-24 05:46] KrishnaPG commented on #130
Thanks @yunshengb That is much better now. Will check it.

[2016-09-24 05:46] #130 closed

[2016-09-24 05:46] yunshengb commented on #127
If you want to run Lucida fluently, please provide as much memory and disk space as possible, and also be aware that the actual performance can be affected by other factors like

[2016-09-24 05:49] yunshengb commented on #127
Let me know if this helps and if you have further questions. Thanks!

[2016-09-24 11:34] bhack commented on #128
There is also [Flatpak](http://flatpak.org)

[2016-09-26 00:48] probonopd commented on #128
And [AppImage](http://appimage.org)

[2016-09-26 08:02] dholbach commented on #128
Sure. Maybe it'd make sense to file separate issues for those?

The reason I brought up the discussion was that the current build scripts seem to target Ubuntu (Debian might work too, I haven't tested) and from an IoT point-of-view Ubuntu Core would fit nicely too.

[2016-10-03 09:24] PraveenkumarDonga opened #131 "Memory Error: During installation"
Collecting reportlab==3.0 (from -r python_requirements.txt (line 40))
  Downloading reportlab-3.0.tar.gz (1.9MB)
    100% |████████████████████████████████| 1.9MB 187kB/s
Collecting requests==2.7.0 (from -r python_requirements.txt (line 41))
  Downloading requests-2.7.0-py2.py3-none-any.whl (470kB)
    100% |████████████████████████████████| 471kB 605kB/s
Collecting scipy==0.17.1 (from -r python_r

[2016-10-03 14:35] yunshengb commented on #131
According to [this](https://docs.python.org/2.7/library/exceptions.html#exceptions.MemoryError), your machine probably ran out of memory. What is the RAM of your machine? Thanks!

[2016-10-04 08:39] PraveenkumarDonga commented on #131
Hi! Yunshengb
Thank you for your Quick reply!
I found out that it is because of the RAM as you said.
Actually i am trying to install it in Ubuntu 14.04 in Vmware. Be be that  error is because of that.
I am trying to see the functionality of Lucida using Docker.
Everything got installed properly but pods are not getting started.
I attached the pic of the issue.
Could you please help me with this.
!

[2016-10-04 14:29] yunshengb commented on #131
You can run `kubectl describe asrmaster-controller-965h9` to check the detailed status of your pod. My guess is that it has difficulties downloading the image or starting the pod, but please post the output here or let me know the status. Thanks a lot!

[2016-10-05 06:59] PraveenkumarDonga commented on #131
Hi!
it is working fine. I guess it is problem with the RAM size.
Initially I tried to run it on a system with 6GB  RAM.
Now I tried it on system with >8GB.
it is working fine now.

Thank you.

[2016-10-10 07:05] ItayXD opened #132 "How to uninstall"
Hi, I used the `make local`, but I have no clue how to undo all the changes, and remove it. Any help clue would be welcome

[2016-10-10 14:14] yunshengb commented on #132
You can remove dependencies using [tools/clean.sh](https://github.com/claritylab/lucida/blob/master/tools/clean.sh)  and type `make clean` in each service (e.g. `cd lucida/calendar/ && make clean`). Let me know if you have further questions. Thanks!

[2016-10-10 15:04] ItayXD commented on #132
And all changes are made inside this local folder environment ? No changes
are made to the system environment by the script?

On Mon, Oct 10, 2016, 17:14 yunshengb <notifications@github.com> wrote:

[2016-10-10 20:46] ItayXD commented on #132
The clean script only delete few files, and most certainly doesn't undo all changes to system.
undoing all changes takes significant effort, I had to go trough apt's logs, and remove all packages installed. I then went on and did `cat /var/log/auth.log | grep "make install"`,  `cat /var/log/auth.log | grep "make -j install"`, and `cat /var/log/auth.log | grep lucida`, and deleted every file on the

[2016-10-11 02:26] #131 closed

[2016-11-06 03:02] azizur opened #134 "macOS: Lucida Docker Deployment"
Hi there,

I am trying to learn how Lucida works and wanted to try out the speech recognition and how I can train it with my own audio samples mp3s.

I am trying to run Lucida in using Docker Version 1.12.3 on MacOS locally.

When I follow the instructions on [Lucida Docker Deployment](https://github.com/claritylab/lucida#lucida-docker-deployment)

I am getting the following errors:
[code]

[2016-11-06 03:10] yunshengb commented on #134
Hi,

It seems like a permission error, and [this](https://github.com/vyshane/kid/issues/14) may help.

If you want to train the speech recognition system, I recommend using Ubuntu 14.04 for development, and using OS X only to deploy the Docker containers, because all the scripts in this repo have been tested on Ubuntu 14.04.

Let me know if that error still exists, and I am willing to further help

[2016-11-08 09:33] baimafeima opened #135 "Release cycle"
The last release was April 15, 2015 and since the 1.0.1 tag there were 1475 commits to master. I would greatly appreciate a higher frequency of releases. When can we expect the next tarball release?

[2016-11-13 02:39] yunshengb commented on #135
First of all, sorry about the delay.

By far we have pushed many changes to the Docker image to our [Docker hub](https://hub.docker.com/r/claritylab/lucida/tags/). The Kubernetes scripts under `tools/deploy` are updated accordingly to reflect these changes, so that if you follow the Docker instructions, you should be able to use the latest version.

That being said, we do plan to push a release af

[2016-11-17 02:30] baimafeima commented on #135
Thanks for your feedback and I look forward to the new release here on Github.

[2016-11-28 03:33] chenfeng1993 opened #138 "Can lucida support Chinese?"
Can lucida support Chinese?

[2016-12-06 07:34] prakharnigam commented on #122
working, done

[2016-12-06 07:34] #122 closed

[2016-12-08 15:15] kubark42 commented on #135
Great project. Any thoughts on updated release schedule?

[2016-12-14 02:24] Caspain opened #140 "Face classification"
Problem training lucida to recognize any face. Other than popular celebrity.

[2016-12-17 07:11] wavestorm opened #141 "Apache thrift installation failure"
When installing Lucida on Ubuntu 16.04 server, the install_thrift.sh stage fails. Make throws an error that the -J option requires a positive integer. In the install_thrift.sh file $THREADS is passed as a string. Removal of the quotes fixes the problem.

[2016-12-30 00:39] baum1234 opened #142 "lucida on raspberry pi"
What would be the best way to install lucida on a raspberry pi?

I'm trying to get lucida for a school project, where I need format speech to text.
Is it possible to just "deploy" that part?

Currently I'm not getting it installed on a mac and ubuntu with just "make" in the tools folder.
![image](https://cloud.githubusercontent.com/assets/16719494/21557720/c860f8e2-ce30-11e6-833e-36463a165fd0.png)

[2016-12-30 08:19] DeveloppSoft commented on #142
From `tools/deploy/README.md`: `you have at least 18 GB of disk space and 7 GB of memory`.
A raspberry pi has only 1GB, anyway if you succeed running lucida on it, let me know :smile:.
__DISCALIMER: I am not a lucida dev__

[2016-12-31 00:11] baum1234 commented on #142
Oh haha :D
Well, it would be nice just to get the STT to run on the raspberry pi, I don't need the other parts.

[2016-12-31 15:24] kuyper opened #143 "Docker deployment without root privileges would be nice"
This project seems to be very cool, I'd really like to try it out on my machine - but I don't want to run it with system directories mapped read-write as volumes and privileged access. Is there any way to achieve that?

[2016-12-31 17:21] nshmyrev commented on #142
Something like https://github.com/sammachin/AlexaPi might be better option. You still need to send audio to the server, Pi is too slow for in-device recognition.

[2017-01-01 17:26] baum1234 commented on #142
Thanks for that, but I want to use the german language and the Alexa-Service is currently not available for Germany :(
Or is it still possible to use german?

[2017-01-06 18:54] giuseppemauro99 opened #144 "Wrong path"
Hi, i'm new to Lucida path i've discovered that all path of the #include in the opencv folder are wrong

[2017-01-07 08:47] giuseppemauro99 commented on #144
Or maybe is the cache of CMake because it can't link statica library

[2017-01-08 11:16] #144 closed

[2017-01-08 11:21] giuseppemauro99 opened #145 "Cxx static library error compiling opencv-2.4.9"
Hi,
i have a problem and i can't compile opencv 2.4.9,i'm using the gcc 4.8.4 but i have the Error:
Linking CXX static library ../../[.........]

thanks in advance

[2017-01-08 21:01] giuseppemauro99 commented on #145
Fixed! I must use a 64 bit O.S. or it won't work

[2017-01-08 21:01] #145 closed

[2017-01-10 17:33] acolas1 opened #146 "Issue with Thrift When "make start_all""
I was able to successfully run make_local, however when I start lucida I get the following error:

  File "app.py", line 7, in <module>
    '/../../tools/thrift-0.9.3/lib/py/build/lib*')[0])
IndexError: list index out of range

When I go into the py directory I do not see that a build file has been made.

How do I solve this issue?

[2017-01-14 03:01] auonhaidar opened #147 "Unable to install fbthrift"
Earlier I was not able to install Apache thrift, then somehow I managed to do that.
Now, when I am running ./install_fbthrift.sh (after running: export LD_LIBRARY_PATH=/usr/local/lib/), it stops, saying 'unable to find folly library' although they are present in /usr/local/lib/ . I tried doing that directly from fbthrift repo following their instructions but did not help.
Can you guys help?

[2017-01-19 02:23] sawrose commented on #141
Makefile:1141: recipe for target 'processor_test' failed
make[5]: *** [processor_test] Error 1
make[5]: *** Waiting for unfinished jobs....
make[5]: Leaving directory '/home/saroj/lucida-master/tools/thrift-0.9.3/lib/cpp/test'
Makefile:926: recipe for target 'all' failed

giving me this error . ubuntu 16.04

[2017-01-19 02:24] adamc2c commented on #141
🚘 I'm driving right now, call you in a bit! 😎
- #AdamGreenberg @ Centrex.io
👍Like Us on Facebook!!!
🌐 FB.me/CentrexBusiness

On Wed, Jan 18, 2017, 9:23 PM Saroj Raut <notifications@github.com> wrote:

[2017-01-20 01:14] auonhaidar opened #148 "Running lucida inside docker container"
Hi,
I dockerized lucida using the Dockerfile provided in the repo. Now, I would like to know how can I run 'make start_all' inside this container and access the service on my browser? I don't need Kubernetes because I just want this to run  on my local machine using docker image.
Could you please help?

Regards,
Auon

[2017-02-04 06:57] wandonye opened #149 "Question about configuration of HTTPS"
I follow the tutorial here:
https://github.com/claritylab/lucida/tree/master/tools/deploy

All service is up and running, but I got `ERR_CONNECTION_TIMED_OUT` when trying to visit `https://<YOUR_DOMAIN_NAME>:30000`

Going into the docker image, I found this:
AH01909: RSA certificate configured for 0.0.0.0:443 does NOT include an ID which matches the server name

I don't have experience with https

[2017-02-04 20:27] wandonye commented on #149
I eventually deployed it without using https, and used another Nginx layer to redirect traffic to localhost:30000.

[2017-02-04 22:49] wandonye commented on #149
My approach above doesn't work well because we still need the websocket connection.
It would be great if more details can be given about how to set it to work on a remote server. With the current tutorial, I cannot reach `https://<YOUR_DOMAIN_NAME>:30000`. Not sure if I need to modify httpd.conf somewhere or 000-default_https.conf or any of the .yaml files.

[2017-02-05 00:37] wandonye opened #150 "REST api?"
I didn't find any REST api in commandcenter as described in the tutorial

[2017-02-08 11:53] cbriard commented on #116
Dear all, I'm trying to install Lucida from the last release on Ubuntu 16.04 LTS and it looks like a nightmare, first with the dependences ... Thrift, python 2.9 ...
Is there some plan to correct at least that release or should we make a SHIFT+DEL on that version ?
Thanks a lot in advance,
Christian

[2017-02-10 03:22] k0105 opened #151 "Collection of issues to run Lucida"
Here are some problems I have encountered so far:

# Build process still quite brittle and not working under Ubuntu 16.04 LTS
While we're fine as long as we only use Lucida via Kubernetes, code modifications generally lead to problems, cmp. https://github.com/claritylab/lucida/issues/116
Also, the build process still seems somewhat monolithic, which is suboptimal for a MSA - microservices should b

[2017-02-12 06:05] k0105 commented on #150
Afaik, there is no REST API. At some point they took some undergrads and ported everything to Thrift for lower latency from what I understood. But I'm no Lucida dev, so take my assumptions with a grain of salt.

[2017-02-12 06:09] k0105 commented on #149
I'm running into an issue that might be related - Lucida works on 14.04.5 and 16.04 Desktop versions locally, but when I push it to a server with Ubuntu 14.04.5 Server it allegedly runs according to Kubernetes, but I can't open port 30000 from a browser. Telnet can sometimes connect to that port, but I get no command center. Strange behavior.

[2017-02-12 06:12] k0105 commented on #141
At this point you might want to avoid compiling Lucida under 16.04. I never got it to compile under anything but 14.04.

[2017-02-12 07:07] k0105 commented on #128
If this is done, I'd feel inclined to use Flatpaks. They come from Redhat, which has been a good indicator for openness, distribution independence and enterprise readiness in the past (e.g. no CLA, whereas everything snap-related is controlled by Canonical), they have better isolation properties imho which will even increase once Wayland is widely used (even though Flatpaks isolate as well via App

[2017-02-12 18:39] k0105 opened #152 "How to integrate new service?"
I've written a very simple new service. My code uses Lucida's Thrift interface. I have a server in Java and a client in Python. My service looks like this:
[code]
When I access it with my own client everything works well and I can return the processed input, which is correctly displayed by my client. But when I modify `Config.py` like this: `'text' : { 'class_QA' :  Graph([Node('QA')]) },` and `'Q

[2017-02-12 20:03] k0105 commented on #152
Nevermind - just has to be an async service. Works now.

[2017-02-12 20:03] #152 closed

[2017-02-12 22:42] fredhampton opened #153 "its a shame"
I think its a shame that the code base has not been updated and that the installs in most environments fail.
Is anyone working on the project going to make any fixes to the code base so that it can be nearly painlessly installed ?
My understanding from reading through the issues was that there was/is a new version being developed....What is the status of this.....?

[2017-02-13 12:15] k0105 commented on #153
The "new" version that was talked about is the one you're looking at. There is currently a push to revive the project, but the availability of previous developers is a problem. While I'm not a part of ClarityLab, I have very recently tried to support this effort: I fixed Lucida to again compile on Ubuntu 14.04.5 and I've also created a mini repo to set it up via Kubernetes on 14.04.5, 16.04.1 and

[2017-02-13 14:20] k0105 commented on #150
Update:
I have added a REST interface to my proposed generic interface, so things might change... Hope this helps.

[2017-02-13 21:52] k0105 commented on #132
Sorry for being so dense, but wouldn't it be on the user to just use something like the following?
[code]

That being said I do agree that it would be great to know what Lucida puts where - it is alienating to me as well that it puts some stuff in system directories, some in another home directory and it just requires a plethora of dependencies in a plethora of scripts and Makefiles. It seems to a

[2017-02-15 22:04] fredhampton commented on #153
@k0105 Thank so much for all you are doing with the code !!!!
I m running debain on a server....What is the best way to install lucida as a web app on debian ?

Thanks !!!

[2017-02-16 04:56] k0105 commented on #153
Depends - you just want to run it? Then I would probably try the Kubernetes version first, i.e. mini-lucida. If on the other hand you want to add own components or modify existing ones, then you might want to clone lucidaserverexperiment and try to compile that. For both the chances are realistic that they run on Debian as well.

Best wishes,
k0105

[2017-02-19 09:30] sergani commented on #153
Hello, I just wanted to pipe in and thank @k0105 for the ongoing efforts.
I'm currently trying to set up the project on an Ubuntu 14 machine.

[2017-02-19 10:46] KienHuynh commented on #147
Same problem, here is the last art error log:

I can make a symbolic link to fbthrift/folly/folly from /usr/local/include/folly, so it works out like this:

but the error still persists because compiling and linking against folly still does not work.
Please help.

[2017-02-20 13:06] sergani commented on #151
Hello, I'm not sure if this is related to my setup (Ubuntu 14.04 LTS Server), but opencv fails to build.
The install_opencv script fails in two lines:

Any thoughts?

[2017-02-20 14:10] k0105 commented on #151
Interesting, that didn't happen for me. Sorry - I don't know Lucida too well and also have no idea. If I had designed Lucida, I would have pulled OpenCV as a binary dependency. While I really like using OpenCV, it is oftentimes difficult to build. I recently built version 3 for Caffe (I think) and that took me 3 hours or so.

[2017-02-21 07:30] sergani commented on #151
Hi there thanks for the feedback.
Never mind the mentioned issue, it was related to an unclean attempt to
build.
I've moved the project to a larger Ubuntu 14.04 vm and opencv built
successfully.
Working on the rest of the project, but it looks OK so far.

Thanks
//M

On Feb 20, 2017 4:10 PM, "Κοῖος" <notifications@github.com> wrote:

Interesting, that didn't happen for me. Sorry - I don't know Luc

[2017-02-21 10:51] 466 opened #155 "Learning - Back-end service encountered a problem"
When i try to add a wikipedia page via learning, e.g.
https://en.wikipedia.org/wiki/President_of_the_United_States

lucida returns:

What is the best place to start looking for what went wrong?

I am on Ubuntu 16.04, lucida was deployed using the docker [instructions](https://github.com/claritylab/lucida/tree/master/tools/deploy)

Plus:
I did download the wikipedia index and changed the path withi

[2017-02-23 18:19] Gartral commented on #153
thanks for the headsup, as of now the make in /tools fails with python pip throwing a massive puke of errors `Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/pip/basecommand.py", line 215, in main
    status = self.run(options, args)
  File "/usr/local/lib/python2.7/dist-packages/pip/commands/install.py", line 335, in run
    wb.build(autobuilding=True)
  File "/u

[2017-02-23 18:22] Gartral opened #156 "Issues with make in /tools"
Ubuntu 16.04, python pip fails with 'Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/pip/basecommand.py", line 215, in main
    status = self.run(options, args)
  File "/usr/local/lib/python2.7/dist-packages/pip/commands/install.py", line 335, in run
    wb.build(autobuilding=True)
  File "/usr/local/lib/python2.7/dist-packages/pip/wheel.py", line 749, in build

[2017-02-23 19:43] sergani commented on #153
Hi Gartral,

Are you running a VM? If yes (and if no actually), what are the specs?

Thanks
//M

On Feb 23, 2017 8:19 PM, "Gartral" <notifications@github.com> wrote:

thanks for the headsup, as of now the make in /tools fails with python pip
throwing a massive puke of errors Traceback (most recent call last): File
"/usr/local/lib/python2.7/dist-packages/pip/basecommand.py", line 215, in
main statu

[2017-02-24 13:56] #75 closed

[2017-02-24 22:24] k0105 commented on #153
Check out the fixes branch.

[2017-02-24 22:31] k0105 commented on #156
Forget 16.04. I talked to the two original authors today and they clearly stated that 16.04 is currently not supported. I'm sure they'll gladly look at a solution if you want to port it, but currently Lucida is considered 14.04 only. Even 14.04 Desktop only currently, but very soon (hours to days) Server support should become available as well.

Best wishes,
k0105

[2017-02-25 21:55] Gartral commented on #156
OK, so I've setup a VM for 14.04.5 and I'm running into a new problem that's apparently unrelated to lucida, the error follows
'
Requirement already satisfied (use --upgrade to upgrade): supervisor==3.0b2 in /usr/lib/python2.7/dist-packages (from -r python_requirements.txt (line 45))
Downloading/unpacking texttable==0.8.4 (from -r python_requirements.txt (line 46))
  Downloading texttable-0.8.4.ta

[2017-03-02 09:20] gurkohli commented on #156
I've just finished set up for 16.04. There are a lot of issues that i came across while trying to compile and start and I fixed them as I went. Basically my approach was to not use the automated scripts to compile the tools but to compile them manually as it's easier to notice the errors that way. I'm adding some solutions to the errors that I came across if it helps anybody.

P.S. - I didn't spen

[2017-03-03 17:12] k0105 commented on #156
Thank you, that's great. Unfortunately, I'm currently quite busy, but I'll try it early next week. If this works, it would help tremendously.

[2017-03-08 15:56] renecardozo commented on #150
hi @k0105, where is documented this helps related with REST interface? thanks in advenced.

[2017-03-08 17:30] renecardozo opened #157 "Is there some documentation about how to integrate some services(Q&A) with other projects?"

[2017-03-10 00:58] k0105 commented on #157
You want to use the QA component only? In this case you want to look at OpenEphyra, not Lucida.

[2017-03-10 04:00] renecardozo commented on #157
I'm trying to consume  this component via their  REST-API, I am assuming that each component expose those services.

[2017-03-10 14:19] renecardozo commented on #157
My idea is create modules that works for areas (ASR, IM, QA, etc.) using for example nodejs, java. and my problem with Lucida is that doesn´t have documentation related, I think that doing more modular Lucida will have more popularity.

[2017-03-10 18:35] k0105 commented on #157
They don't use REST for that - the components are connected via Thrift only.

[2017-03-10 19:54] renecardozo commented on #157
do you think that any application can consume the lucida services, using
nodejs or java for example? I don´t mention the web version of lucida

2017-03-10 14:35 GMT-04:00 Κοῖος <notifications@github.com>:

[2017-03-11 03:57] k0105 commented on #157
In theory, sure. They are just open source projects with a Thrift wrapper. A program in any language that is supported by Thrift can tap into that.

What is the web version of Lucida? You want to get rid of the command center, is that it? You can do that, but then you might even want to consider taking the original projects directly. Wrapping code in some Thrift or REST interface is not difficult

[2017-03-19 02:12] isravelraja opened #159 "Factoid not found in knowledge base."
Having issue with running the QA service. It always gives the error.

[2017-03-21 16:15] baimafeima commented on #135
Any updates? @yunshengb

[2017-03-31 20:26] fxdgear opened #160 "Which is the "base image" docker file."
There are 2 Dockerfiles one at the root and one in `tools`. Both have the lead comment saying
[code]

[2017-04-06 09:49] KamalGalrani opened #164 "Run time error in opencv_imm and djinntonic services"
I am getting the following runtime error while running opencv_imm or any of the djinntonic services

I am using Ubuntu 16.04 with thrift 0.9.3 and master branches of folly and wangle. I was unable to compile lucida with the versions of folly and wangle given in the automated install script.

[code]

[2017-04-07 13:08] KamalGalrani commented on #164
Fixed. Folly wasn't properly initialised. [454af65](https://github.com/KamalGalrani/lucida/commit/454af658ee76fe2d3e43ed218627356ed833b4bc)

[2017-04-07 13:08] #164 closed

[2017-04-10 14:47] KamalGalrani commented on #159
Have you taught it something? If not follow tutorial.pdf to teach and then ask questions. You can also download wiki indri database using script in tools folder

[2017-04-10 14:50] KamalGalrani commented on #157
If you don't want to dive into thrift you can simply analyse post/get requests made by your web browser to lucida command center and inplement them in nodejs

[2017-04-16 16:47] saijel opened #167 "Moving `start_test` as unit test"
Create an automated way to run `start_test` to be able to regression test each microservice. Also, remove gnome-terminal dependency.

[2017-04-18 00:30] k0105 commented on #167
gnome-terminal -x can just be removed via regexp - that's the way I run it on Ubuntu Server. If you want a cleaner solution wire up the outputs to a multiplexer.

[2017-05-02 16:49] k0105 opened #170 "Roadmap?"
Hi,

now that two people are working on Lucida again and since you offered it: Could you provide a brief roadmap of what changes you are working on / which aspects have already changed?

Thank you in advance.

Best wishes,
k0105

[2017-05-03 15:38] #1 closed

[2017-05-03 15:38] #15 closed

[2017-05-03 15:38] #17 closed

[2017-05-03 15:39] #18 closed

[2017-05-03 15:40] saijel commented on #21
Hi @Timopheym, please open a new issue if this problem still persists. Thanks!

[2017-05-03 15:40] #21 closed

[2017-05-03 15:41] saijel commented on #22
Hi @erogol,  please open a new issue if this problem still persists. Thanks!

[2017-05-03 15:41] #22 closed

[2017-05-03 15:42] saijel commented on #23
Hi @gitfoxi, please open a new issue if this problem still persists. Thanks!

[2017-05-03 15:42] #23 closed

[2017-05-03 15:43] saijel commented on #40
Hi @sedrubal,  please open a new issue if this problem still persists. Thanks!

[2017-05-03 15:43] #40 closed

[2017-05-03 15:44] saijel commented on #43
Hi @electrickite, please open a new issue if this problem still persists. Thanks!

[2017-05-03 15:44] #43 closed

[2017-05-03 15:45] saijel commented on #52
Hi @HarveyLiuFly,  please open a new issue if this problem still persists. Thanks!

[2017-05-03 15:45] #52 closed

[2017-05-03 15:45] saijel commented on #57
Hi @Alessandro-Barbieri,  please open a new issue if this problem still persists. Thanks!

[2017-05-03 15:45] #57 closed

[2017-05-03 15:46] saijel commented on #58
Hi @jeje-50, please open a new issue if this problem still persists. Thanks!

[2017-05-03 15:46] #58 closed

[2017-05-03 15:46] #59 closed

[2017-05-03 15:47] saijel commented on #60
Hi @OSS542, please open a new issue if this problem still persists. Thanks!

[2017-05-03 15:47] #60 closed

[2017-05-03 15:48] saijel commented on #62
Hi @MaciekLeks, please open a new issue if this problem still persists. Thanks!

[2017-05-03 15:48] #62 closed

[2017-05-03 15:49] saijel commented on #63
Hi @auguster, please open a new issue if this problem still persists. Thanks!

[2017-05-03 15:49] #63 closed

[2017-05-03 15:49] saijel commented on #66
Hi @wiseman, please open a new issue if this problem still persists. Thanks!

[2017-05-03 15:49] #66 closed

[2017-05-03 15:50] saijel commented on #68
Hi @stephenkeep, please open a new issue if this problem still persists. Thanks!

[2017-05-03 15:50] #68 closed

[2017-05-03 15:50] saijel commented on #71
Hi @Check-mate, please open a new issue if this problem still persists. Thanks!

[2017-05-03 15:50] #71 closed

[2017-05-03 15:50] saijel commented on #74
Hi @creamjiang, please open a new issue if this problem still persists. Thanks!

[2017-05-03 15:50] #74 closed

[2017-05-03 15:51] saijel commented on #78
Hi @rusbear, please open a new issue if your question is still relevant. Thanks!

[2017-05-03 15:51] #78 closed

[2017-05-03 16:01] saijel commented on #80
Hi @giovannioliveira, please open a new issue if this problem still persists. Thanks!

[2017-05-03 16:01] #80 closed

[2017-05-03 16:05] saijel commented on #81
Hi @irl, please open a new issue if this problem still persists. Thanks!

[2017-05-03 16:10] saijel commented on #89
@k0105 have you made any progress on this? I see that it was put on hold. Are you planning on picking this back up?

[2017-05-03 16:13] saijel commented on #93
Hi @zm594406222, can you update your project with the latest changes and see if the problem still persists?

[2017-05-03 19:20] saijel commented on #123
Hi @diegogrecco, are you still seeing this issue after following @yunshengb's comments?

[2017-05-03 19:22] saijel commented on #125
@Hangphuong if you are still seeing this issue please open a new issue. Thanks!

[2017-05-03 19:22] #125 closed

[2017-05-03 19:25] diegogrecco commented on #123
Hey @saijel , i fixed it updating the scripts as @yunshengb recommended. I used the latest one and everything worked also the integration with wikipedia.

[2017-05-03 19:25] saijel commented on #126
Hi @Kezryk, we are currently working on making the build system easier and reduce dependencies. Please open a new issue and provide error logs so we can help you compile for the time being. Thanks!

[2017-05-03 19:25] #126 closed

[2017-05-03 19:27] saijel commented on #123
Great, thanks for the quick response @diegogrecco.

[2017-05-03 19:27] #123 closed

[2017-05-03 19:27] saijel commented on #127
Hi @AsoulYang, please open a new issue if still have questions about the minimum requirements. Thanks!

[2017-05-03 19:27] #127 closed

[2017-05-03 19:32] saijel commented on #134
Hi @azizur, please open a new issue if you are still seeing this problem. Thanks!

[2017-05-03 19:32] #134 closed

[2017-05-03 21:03] irl commented on #81
@saijel Please reopen this bug, this is actively tracked from the Debian BTS and is *not* yet fixed.

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=782763

It is currently blocked by the inclusion of kaldi in Debian (Debian#808427).

I am no longer the contact for this, I didn't have the time, the new contact is Kishan Raval <thekishanraval@gmail.com>.

You should contact this new person if th

[2017-05-03 21:05] jhauswald commented on #81
@irl thanks for the update, we'll be sure to follow up with Kishan!

[2017-05-03 21:24] k0105 commented on #89
This? As in YodaQA? Sure, YodaQA works. Inside Lucida and out.

[2017-05-03 21:30] saijel commented on #89
Do you think YodaQA works better than our current QA system? Should we replace OpenEphrya with YodaQA?

[2017-05-03 22:17] k0105 commented on #89
Depends. YodaQA is definitely a much better open-domain factoid QA system, yes. And while it still largely relies on search, it features (one of?) the best open QA pipeline(s) I have seen. The one feature it doesn't offer out-of-the-box to my knowledge is to add facts to a knowledge base that can then be queried, i.e. the functionality you need for your previous demos to ask questions about people

[2017-05-03 23:22] saijel commented on #170
I just created a [Roadmap wiki](https://github.com/claritylab/lucida/wiki/Roadmap). Right now the tasks are pretty specific and the first 5 tasks have PRs out.

[2017-05-03 23:24] k0105 commented on #170
Thank you - that's very helpful.

[2017-05-03 23:24] #170 closed

[2017-05-10 21:58] saijel opened #182 "Make ASR more modular"
Kaldi is intertwined in front-end. There is a need to make it more modular to allow users to add their own asr.

[2017-05-30 21:01] cassiosantos commented on #146
@acolas1 Does this error still occur?

What happens when you run `tools/install_thrift.sh` ?

[2017-06-01 18:00] fredhampton opened #190 "Is it possible to use Lucida as a web application on debian without docker ?"
Is it possible to use Lucida as a web application on debian without docker ?

Thanks

[2017-06-02 21:49] KamalGalrani commented on #190
You can build locally without docker. Refer to lucida local deployment in README

[2017-06-02 22:00] KamalGalrani commented on #157
Added REST API. See README and wiki for more information

[2017-06-02 22:03] KamalGalrani commented on #150
Read wiki and README. REST API has been recently added

[2017-06-02 22:08] KamalGalrani commented on #147
Try with current master and let me know if it fails

[2017-06-05 17:52] Ekwav opened #192 "Installation problems"
I read in another issue that we should post the logs for installation problems in a new issue.
The command `make` in `/tools` exits with these lines:
[code]

After that I tried to install the single services.
`/calandar` `$make` outputed:
[code]

The imagematching service (`/imagematching/opencv_imm/server`) outputed:
[code]
**OpenEphyra** installed fine, but I didn't download the wikipedia datase

[2017-06-05 18:35] KamalGalrani commented on #192
This issue has already been resolved. Download the current master and run
make tools
--
Kamal Galrani IIT Bombay

[2017-06-05 21:51] Ekwav commented on #192
Ok, thanks that fixed it. I followed the installation guide in the wiki https://github.com/claritylab/lucida/wiki/Installing-Local-Lucida and it suggested to checkout in the branch fixes and so I did. I now changed the wiki page to suggest switching branch to master.

[2017-06-05 22:02] Ekwav commented on #192
The `make` in `/tools` and `/lucida/calander` worked but the `Image matching service` exited with this:
[code]

[2017-06-07 17:06] KamalGalrani commented on #192
@Ekwav Did you try `make clean` followed by `make all` in image matching service folder? Which g++ version are you using? Your system is 32 bit or 64 bit?

[2017-06-08 19:00] Ekwav commented on #192
@KamalGalrani yes I tried, g++ version is `5.4.0 20160609` and I have `64 bit erazer notebook` with `16 GB RAM` and an `Intel® Core™ i7-7500U CPU @ 2.70GHz × 4`

[2017-06-09 14:00] KamalGalrani commented on #192
It have the same config except for i7. That shouldn't make a difference.
Issue seems specific to your installation. Try it on a VM or on a different
PC/server. Try stack overflow with the specific error.

Another thing you can try is delete thrift and fbthrift installation
manually from /usr and /usr/local and reinstall using install_thrift and
install_fbthrift scripts. Their could be some debries

[2017-06-09 21:18] hillm3 opened #195 "Bot framework - Not sure what to do"
I installed it and have it running in terminal and it passed all the credential stuff. But I'm not familiar with Skype or Facebook messenger. I don't really know what this thing even does or what its purpose is.

Could there be a guide or something showing what to do after setting it up? Setting it up worked fine, I just don't know what to do after that.

[INFO] Updating endpoint...
[INFO] Connect

[2017-06-09 21:34] #195 closed

[2017-06-10 06:41] aman71197 opened #196 "Unable to do make local"
[code]

[2017-06-10 07:29] KamalGalrani commented on #196
Seems like boost library isn't linking. Try to (re)install libboost-all-dev
using apt-get. If you have installed boost in a non standard location add
the location to LD_LIBRARY_PATH and export the variable before running make
--
Kamal Galrani IIT Bombay

[2017-06-10 09:17] aman71197 commented on #196
I installed boost by sudo apt-get install libboost-all-dev again, and it gives the same error.

[2017-06-11 13:47] Ekwav commented on #192
Ok, I reset my system and now it works :smile:

[2017-06-11 13:47] #192 closed

[2017-06-14 14:59] KamalGalrani commented on #196
Which Ubuntu version are you using?

[2017-06-14 19:45] aman71197 commented on #196
I am using Ubuntu 14.04

[2017-06-20 14:09] KamalGalrani commented on #196
Try on a fresh installation.

Otherwise (I wouldn't recommend this) purge boost (not that straightaway because of dependency issues) and then install boost. The following process is **dangerous.** Follow the steps only if you understand them. This may not necessarily fix your issue.
* Find all libboost packages using `dpkg --get-selections | grep libboost`
* Remove the packages using `sudo dpkg -r

[2017-06-30 22:20] AusRedNeck commented on #159
The learn tab has a place to upload photos, text and url's to load data into the local mongodb.

The factoid not found is related to querying this db. If you also add the wiki indri database as mentioned above it will first check the local database and then also query the wiki.

[2017-07-01 03:07] sanyaade-iot opened #200 "Unable to Start Back End Services (error: Back-end service is not running)"
Hello Everybody,

Please I need help!

I build and running Lucida locally, I am on Ubuntu 16.04.
Build all dependences under tools, navigate back to top root
run the command: make start_all

Navigate to webpage: educateiot.com:3000 (still live, I did not shut down)
login. But when following the tutorail pdf, I started to add images, text and url the I got error messages that "Back-end service is n

[2017-07-03 14:15] hillm3 commented on #200
Hello,

First of all, are you running the master?

make start_all will run even if a service fails to start. Eg. if QA is failing to start you may get that error.

In newer versions (post master), services do not automatically start at all from Lucida.

Check if QA can start manually by going to lucida_root/lucida/questionanswering/OpenEphyra and then type "make start_server". Copy paste the messa

[2017-07-04 15:15] sanyaade-iot commented on #200
Hello,

Many thanks for your reply!

Yes! I was able to start QA and Lucida server (see: http://educateiot.com:3000/ ) but other services failed to start even when I attempted then manually.

The error messages are coming from the server web pages whenever I try to create a label or knowledge

I am building local and all services were built with no errors on Ubuntu 16.04.
Seems that inclusion of D

[2017-07-06 21:40] sanyaade-iot commented on #200
Hi All,

I need help on how to stop and restart service. After compiled Lucida (tools then make ... wrestled and then got that side working and done) then cd ==> into Lucida (the also make to get that side working). Then back to root and issue make start_all  then I got "Session lucida already exists." but the browser still says --> "Back-end service is not running" .

So I can someone stop all th

[2017-07-07 02:49] sanyaade-iot commented on #200
Hi All,

Replying to my own query above as I finally got Lucida working locally on my home server.
Lucida after I reboot my server and then invoke the command: -> make start_all in the terminal from the root folder of my Lucida.

1.) So far Learn is working even though learn and infer are not matching correct for text
2.) Need to know how to use the URL below the text input.
3.) Need to know how t

[2017-07-08 17:42] Kezryk commented on #86
Sirius was Renamed to Lucida Because of a Cease and desist order from Apple, who has a copyright on the name. Lucida is a product of university of michigan. and IS the backend to Clinc, a Personal finance assistant. Is it dead who knows. But it is a start.

[2017-07-17 18:14] tezmo77 opened #202 "Using Lucida Offline"
I just installed Lucida on my Ubuntu computer, and I am wondering if there is a way it could be used offline? If so, any advice would be greatly appreciated.

[2017-07-23 04:28] raviten opened #203 "Error in deploying docker"
I am trying to deploy on gcp with 15gb ram and 120GB disk
on docker up i am getting following error
sudo kubectl get pod
[code]

I ran command ./cluster_up_linux.sh

[2017-07-24 15:32] zhexuanc commented on #203
Hi raviten,

I am so sorry that this is the issue because we have not updated our Lucida image in Dockerhub. So try to build it locally if your environment is Ubuntu 14.04 or 16.04. Or if you are familiar with docker, you can build your own docker image using the dockerfile in the root directory.

Thanks,
zhexuanc

[2017-07-24 15:45] zhexuanc commented on #202
Hi tezmo77,

First sorry for the waiting. And for the question, I am a little bit confused what do you mean by offline? Lucida uses thrift as RPC framework and uses python Flask library as Cloud communication framework. If you just want to use it locally, just start it on localhost. Or if you want it to be totally offline, try to change the communication of network into a local way will help. If y

[2017-07-27 04:21] k0105 opened #204 "Build fails on Ubuntu 14.04 Server"
Hi,

just wanted to let you that Lucida again breaks on diae / Ubuntu 14.04 Server. I get this error:

[code]

Also, I'm confused about Mason's graphical tool. The pull request was apparently declined. The last word I heard was to use the pull request (even though both master and the pull request version don't fully compile).

Bottom line: Could you please make sure Lucida compiles on diae / 14.04

[2017-07-27 21:23] zhexuanc commented on #204
Hi k0105,

First, for the compile issue, I checkout the error message and it seems that the dependencies are installed perfectly but there is an error during compiling the microservices. So the best way to figure it out is to checkout this wiki to install each microservice independently and then check which service is broken.
 [https://github.com/claritylab/lucida.wiki.git](url) Sorry for the inco

[2017-07-28 00:01] mygearstationcom commented on #147
I'm using LinuxMint 17.1 Rebecca Mate 32-bit. After attempting to very recently load Lucida-Master 3 times I got as far as Facebook Thrift. What do I need to do? THANKS!
Here's the results:
make[3]: Leaving directory `/home/ltuser/lucida-master/tools/thrift-0.9.3/tutorial/js'
make[2]: Leaving directory `/home/ltuser/lucida-master/tools/thrift-0.9.3/tutorial/js'
Making install in py
make[2]: Enteri

[2017-07-29 15:08] mygearstationcom commented on #147
tried SUDO Make Install - same error

[2017-08-02 15:00] KamalGalrani commented on #204
The log shows error in opencv_imm microservice. But I don't think the bug is in that service. Try uninstalling fbthrift, folly, wangle and thrift and install those dependencies again. Or do a clean install on a fresh server.

The installation script doesn't perform a full check on installed dependencies. Maybe they aren't installed properly.

@k0105 Can you reply with log which includes the instal

[2017-08-05 07:34] zhh126543 opened #208 "Failed to trandform the database"
I want to transform the Lucida's database to graph database, it seems that Lucida has its own knowledge database, I want to transform it to graph database, but I don't know the position of the knowledge database , can you tell me? Thanks a lot.

[2017-08-05 07:36] zhh126543 opened #209 "Failed to transform the database"
I want to transform the Lucida's database to graph database, it seems that Lucida has its own knowledge database, I want to transform it to graph database, but I don't know the position of the knowledge database , can you tell me? Thanks a lot.

[2017-08-05 11:13] KamalGalrani commented on #208
Lucida uses mongodb at its core. Details can be found in
lucida/commandcenter/controllers/Database.py.

Microservices are not obliged to use the mongodb database. They can use
their own databases

[2017-08-06 05:20] zhh126543 commented on #208
Does the QA module support the graph database?

[2017-08-06 05:58] KamalGalrani commented on #208
OpenEphyra does not support graph database as far as I am aware. You can
either try modifying OpenEphyra or you can add a QA microservice which
supports graph database (eg YodaQA).

To create a new microservice you need to create a thrift service, tell
command center abt the microservice and add port in config.properties. Have
a look at the top level README

The microservice architecture is under

[2017-08-06 06:04] zhh126543 commented on #208
Thanks a lot, I will try it.

[2017-08-06 06:10] KamalGalrani commented on #208
In case you are going through all the effort to update QA database I am
working on a Google Assistant microservice which will handle QA. A pull
request for the same will be up by next week. Currently it does not have
learning capability and I don't have any deadline for that though I
eventually plan to add the feature. You may freely use this for personal
use. For commercial usage you'll need to c

[2017-08-06 12:26] zhh126543 commented on #208
OK, thanks.

[2017-08-12 19:05] JIVS opened #211 "Language Support"
I was wondering if there are any plans yet for supporting languages other than english.

If there are I could help adding support for spanish.

[2017-08-13 00:58] KamalGalrani commented on #211
We are busy with adding other features and optimizing Lucida. We plan to
add support for adding languages but that's not a priority on our list.

It would be great if you could help adding support for Spanish to the
command center module. The code is present in lucida/commandcenter. It is
basically a classifier. All you need to do is create training data and
minor modifications to the code.

Kamal

[2017-09-07 01:29] baimafeima opened #212 "Add changelog to GitHub releases"
Could you make the changelog directly visible in your GitHub releases? This would increase transparency for potential users and distribution maintainers. Something like https://skywinder.github.io/github-changelog-generator/ could be used to generate the changelog based on merged PRs and closed issues since the last release tag.

[2017-09-08 14:31] TheAwsomeMiner2 opened #213 "Clipsal C-bus incorperation"
Hey, is just like to start off my saying I am kinda new to this stuff so any help would be appreciated.
My house And literally everything inside it is controlled by a system called C-bus which was created by clipsal. In this system we have network interfaces that brige a network between your regular home internet and a c-bus network which is like your normal house internet with rj45 cables linking

[2017-09-08 14:47] KamalGalrani commented on #213
Hey Jayden

It is very possible to add such a microservice to Lucida. Just follow the
instructions on the README file on how to add a microservice. In the
microservice, when you receive the text you can use lambda functions to
grasp with device to control and what action to take.

Kamal

[2017-09-09 04:04] TheAwsomeMiner2 commented on #213
Hey KamalGalrani, first of all thanks for replying :)
I'm still kinda lost figuring out how to do this, I'm not that familiar with any programming languages other then Html, PHP and CSS (which all are very easy to learn), I have uploaded the web front end files for the C-Bus system to this post which shows how it connects to telnet and also an image as you would be unable to see the values it give

[2017-09-09 05:07] KamalGalrani commented on #213
Hey

I have a lot in my platter. Won't be able to help much except solving issues. But I can guide you through the process of making a PHP microservice! That's the best part about Lucida. You can write a microservice in any language of your choice.

## Installing Lucida with PHP
The support for PHP isn't built into Lucida by default. So you need to take that into account while installing.

#### If

[2017-09-17 16:48] CIsMe opened #214 "How to deploy in China"
Hello.
I am very interesting in your project. I am from china, I want to develop some useful scenes by your project.
 But I have some problems when deploy docker image. My os is ubuntu 64 (16.04.LTS) , when i  follow your deploy guide ,  operate    / tools / deploy /      ./cluster_up_<your_os>.sh  , the console report the following error :Unable to find image 'gcr.io/google_containers/hyperkube-a

[2017-09-18 11:36] KamalGalrani commented on #214
Instead of docker install why don't you try a local install? Anyway the
docker image is not updated. So don't use that unless necessary

[2017-09-18 14:37] CIsMe commented on #214
Which document guides the local installation

[2017-09-26 01:34] zhh126543 opened #215 "Is wiki_indri_index graph data?"
Hi,
     I have download wiki_indri_index, and it works very well. Is it graph data? Thanks.

[2017-10-03 16:03] CIsMe opened #216 "Fail to make local"
When I make local, encounter those error:
Total time: 1 second
Makefile:602: recipe for target 'all-local' failed
make[3]: *** [all-local] Error 1
make[3]: Leaving directory '/home/cen/lucida/tools/thrift-0.9.3/lib/java'
Makefile:538: recipe for target 'all-recursive' failed
make[2]: *** [all-recursive] Error 1
make[2]: Leaving directory '/home/cen/lucida/tools/thrift-0.9.3/lib'
Makefile:609: reci

[2017-10-15 06:51] hassanpasha5630 commented on #147
I am having the same issue , did anyone figure it out ?

[2017-10-15 06:53] KamalGalrani commented on #147
It seems like a dependency issue with linux mint. Will have a look in a
week's time.

Kamal

[2017-10-15 07:04] hassanpasha5630 commented on #147
I am running it on Ubuntu 14. Also is this project dead ? I am doing research on it and have not been able to successfully run and study this. If this is not an on going project I can switch it in time for my thesis.

[2017-10-15 07:12] KamalGalrani commented on #147
Currently it seems I am the only one interested in maintaining it. I am
busy with a lot of stuff though so don't expect prompt resolution. But I am
surely willing to help

Regarding the issue. Can you send me your log? The errors
in mygearstationcom's logs seem to be folly and linux mint related. The
project installs easily on fresh Ubuntu 14.04 and 16.04

Kamal

[2017-10-15 07:17] hassanpasha5630 commented on #147
This is over all a fantastic project its sad if you're the only one maintaining it. I might not be much help but I am willing to help if needed.

Regrading the issues I have both 14.04 and 16.04 and have not been able to successfully do it on both, the issues that I am getting now is shown below.

CMake Error at CMakeLists.txt:1 (cmake_minimum_required):
  CMake 3.0.2 or higher is required.  You a

[2017-10-15 07:20] KamalGalrani commented on #147
Due to some reason cmake isn't installing on your system. Type in the
following commands and let me know if they succeed

[code]

If they suceed `cmake --version` should return a 3.x version number

On Sun, Oct 15, 2017 at 12:47 PM, hassanpasha5630 <notifications@github.com>
wrote:

[2017-10-15 07:50] hassanpasha5630 commented on #147
g++: internal compiler error: Killed (program cc1plus)
Please submit a full bug report,
with preprocessed source if appropriate.
See <file:///usr/share/doc/gcc-4.8/README.Bugs> for instructions.
make[4]: *** [frontend_la-compiler.lo] Error 1
make[4]: Leaving directory `/home/linux14/Desktop/lucida-master/tools/fbthrift/thrift/compiler/py'
make[3]: *** [all-recursive] Error 1
make[3]: Leaving direc

[2017-10-15 07:51] KamalGalrani commented on #147
Can you send me a complete log

On Sun, Oct 15, 2017 at 1:20 PM, hassanpasha5630 <notifications@github.com>
wrote:

[2017-10-15 07:59] hassanpasha5630 commented on #147
Where can I find the log you are referring to. I went into cd log/var is that the correct place to find the log that you are requesting ?

[2017-10-15 09:59] KamalGalrani commented on #147
I mean the complete output of the make command. That is the log

On Sun, Oct 15, 2017 at 1:29 PM, hassanpasha5630 <notifications@github.com>
wrote:

[2017-10-15 20:37] hassanpasha5630 commented on #147
So you would like to see everything that is outputted after I make the call , "make all" in the tool directory ?

[2017-10-16 02:01] KamalGalrani commented on #147
yep

[2017-10-16 03:05] hassanpasha5630 commented on #147
-- Up-to-date: /usr/local/include/wangle/acceptor/AcceptorHandshakeManager.h
-- Up-to-date: /usr/local/include/wangle/acceptor/TransportInfo.h
-- Up-to-date: /usr/local/include/wangle/acceptor/ConnectionManager.h
-- Up-to-date: /usr/local/include/wangle/acceptor/PeekingAcceptorHandshakeHelper.h
-- Up-to-date: /usr/local/include/wangle/acceptor/ServerSocketConfig.h
-- Up-to-date: /usr/local/include

[2017-10-16 03:25] KamalGalrani commented on #147
Weird. I tried to install it on a fresh Ubuntu 14.04 and it worked. Anyway
try the following and let me know.

Option 1:
  Install it on a fresh installation of Ubuntu (preferably 14.04 or 16.04)

Option 2:
[code]

  Delete the lucida repository
[code]

  The following command will locate traces of fbthrift if present. Remvoe
those files/folders `using sudo rm -rf`
[code]

  Clone the repository a

[2017-10-16 08:45] maddin200 opened #217 "mismatching delete"
\djinntonic\dig\DIGHandler.cpp line

allocated with malloc should be
free(buffer);
same holds for src 241

[2017-10-17 01:42] KamalGalrani commented on #217
Will fix. Thanks :)

[2017-10-17 01:43] KamalGalrani commented on #216
Share the complete outptut

[2017-10-17 01:45] KamalGalrani commented on #215
http://www.lemurproject.org/indri.php

[2017-10-17 01:49] KamalGalrani commented on #155
Docker image isn't updated. Use make local

[2017-10-22 04:05] zhhhhhh opened #218 "How can we generate a problem set like the TREC problem set?"
I want to generate files like the TREC problem set to test the knowledge base, but I don't know how they were generated. The problems seem to be generated randomly, What tools do we need to use? Can you tell me? Thanks a lot.

Regards

[2017-10-23 02:59] hassanpasha5630 commented on #147
tried both ways, not successful at all

[2017-10-23 03:14] KamalGalrani commented on #218
TREC files aren’t generated randomly. They are generated on the basis of
TREC guidelines and are available online.

If you want to make your own file, choose a TREC version supported by
OpenEphyra, have a look at the format and manually create a matching file.
Replace the TREC file with your own. Then ask OpenEphyra to run test with
the TREC version
--
Kamal Galrani IIT Bombay

[2017-10-23 03:16] KamalGalrani commented on #147
I’ll try it on a fresh 14.04 to check if something is broken. Give me some
time for that. If it installs fine I can’t be of any further help as this
seems to be a system specific issue
--
Kamal Galrani IIT Bombay

[2017-11-05 00:20] androidSmart opened #219 "unable to find wiki_indri_index_.tar.gz"
I can't find the wiki knowledge base using the provided link, it's down or removed, if anyone has a link to the file, I would appreciate..

[2017-11-06 09:48] KamalGalrani commented on #219
Go to tools folder and download using the download_wiki... script.

Kamal

[2017-11-07 17:48] androidSmart commented on #219
Thank you for your replay Kamal, but it is the original link of the file(http://web.eecs.umich.edu/~jahausw/download/wiki_indri_index.tar.gz) not working.., if you know other alternative or if you have the file somewhere please let me know...

[2017-11-07 20:04] SeansRightHere commented on #219
I have it downloaded.  How to host is a problem.  Suggestion?

On Nov 7, 2017 11:48 AM, "androidSmart" <notifications@github.com> wrote:

[2017-11-08 12:06] androidSmart commented on #219
@SeansRightHere here is my email address(ashenafi1127@gmail.com) , you can send it using , https://www.myairbridge.com/eng/ ,
Thank you..

[2017-11-08 21:08] jhauswald commented on #219
Hey everyone sorry about that, can you try again? Got it all fixed up :)

[2017-11-08 21:19] SeansRightHere commented on #219
Great, saves me an 11gb upload.
Thanks, Johann.

On Nov 8, 2017 3:08 PM, "Johann Hauswald" <notifications@github.com> wrote:

[2017-11-08 21:20] #219 closed

[2017-11-13 16:22] illouk opened #220 "make start_all fail"
i have compiled everything successfully but i get this error when i run the command: `sudo make start_all`

i am using ubuntu 14.04

[code]
anyone help?

[2017-11-13 17:57] KamalGalrani commented on #220
Try ‘sudo apt-get install tmux’
--
Kamal Galrani IIT Bombay

[2017-11-13 17:58] SeansRightHere commented on #220
I've made sure tmux is installed, I just start all manually because it
failed still

On Nov 13, 2017 11:57 AM, "Kamal Galrani" <notifications@github.com> wrote:

[2017-11-14 10:35] illouk commented on #220
Thanks for helping me.

For me , it looks like tmux was the problem i was able to run the services through make start_all command.

However sudo apt-get install tmux is not the proper command for the installation of tmux.
I used [this](https://gist.github.com/VladSem/a6008ebc22b24836f9fb) in order to install tmux on ubuntu 14.04

[2017-12-05 01:16] linuxdude96 opened #221 "Can't compile lucida on Fedora 27"
Hi, I am trying to compile lucida on fedora 27. I opened the install_opencv.sh file and edited it. Then used ./make inside the tool file. I can't find a zlib1g-dev package anywhere that's compatible with fedora or even a tar file. Can you help me please? 😭

`Ign http://download.fedoraproject.org fedora/linux/development/rawhide/x86_64/os/ repomd.xml
E: Repository model not found for http://downloa

[2017-12-30 06:17] andreavicari71 opened #222 "Fail to make local (lucida)"
hi guys, i run ubuntu 16.04 and i could not install lucida.
i managed to install all the tools, even if i had to manually install caffe (it passed the make runtest).
when i run make local i get the following error:

make[4]: Entering directory '/home/andreaserver/sirius/lucida-suite/dnn-asr/baseline'
g++ -c -O2 -DCPU_ONLY -I/home/andreaserver/sirius/tools/caffe/distribute/include  dnn-asr.cpp -o d

[2017-12-30 18:47] andreavicari71 commented on #222
hi guys,
after the third attempt i erased everything and re-started from scratch...
now it works!
thank anyway

[2017-12-30 18:47] #222 closed

[2017-12-30 23:23] Alessandro-Barbieri commented on #81
You need to get rid of patented dependencies because these aren't on Debian

[2017-12-31 23:40] andreavicari71 commented on #159
i have the same problem.
after feeding some info i got some erratic replies.
afterwards i installed wiki indri and exported its location, checked it through printenv.
i tried openephyra  directly (calling its script)  and it recognizes the question but no answer.
any clue?

[2018-01-22 14:50] hakadespra opened #223 "i'm sorry i cannot find that much about lucida on the web... so when does she arrive on windows?"
hello!

i am really interested in the lucida project. a few days ago i read somewhere that lucida will be available for windows in february 2018. is this true?

because i cannot find much about it on the web, and i am quiet confused about that.

for me intelligent speech assistents are a complete playground for like a non-programmer like me.

and i hope lucida will be open for commands and edits.

[2018-01-24 21:47] dibonetta commented on #220
hi guys, I still have the same problem. After installing tmux I restarted from point 6. of the ubuntu installation guide
Command Center (CMD)
  $cd /lucida/commandcenter/
  $make all
Then ...
Secure (HTTPS) to enable ASR:
$cd <top level project directory>
$make start_all_secure

Error:
cd tools && ./start_all_tmux.sh secure
error connecting to /tmp/tmux-1000/default (No such file or directory)
Ses

[2018-01-25 13:45] dibonetta opened #224 "failed installation of commandcenter on ubuntu 16.04 LTS"
`Installing Local Lucida` goes through until Point 3.5 (or at least it looks like it does).
I came to the last point `Command Center (CMD)`
with `$make all` nothing happend
started with `Start all servers` and there I had the same errors as  reported by

installed tmux as also reported there
*****
went back to the `Command Center (CMD)` => still nothing happens
went back to  `Start all servers` an

[2018-04-08 20:33] rubyakerman opened #225 "is it possible to run it on my android?"

[2018-04-10 07:40] EmpireofKings opened #226 "Issue With Install on Ubuntu 16.04 LTS"
Hello World, so far the install using "make local" is working just fine until i reach the fbthrift script.

Any advice would be of much help

``+ make
make  all-recursive
make[1]: Entering directory '/media/nvidia/Astro/lucida/tools/fbthrift/thrift/build/deps/folly/folly'
Making all in .
make[2]: Entering directory '/media/nvidia/Astro/lucida/tools/fbthrift/thrift/build/deps/folly/folly'
/bin/sh .

[2018-04-10 07:47] EmpireofKings commented on #226
To further clarify i am running on ubuntu 16.04LTS

[2018-04-18 12:07] Cyborgscode commented on #221
Yeap, heaving a fedora build process would be extremly nice.

[2018-05-03 16:49] samiurkh1n commented on #226
The issue is tied to the "-msse4.2" option not being recognized. This is likely because your architecture [doesn't support](https://en.wikipedia.org/wiki/SSE4) the SSE4.2 instruction set.

You could try replacing that flag with `-march=native` to allow g++ to make that decision on what architecture flags are appropriate. You should also report this issue to [fbthrift](https://github.com/facebook/f

[2018-06-06 15:54] mrinformatics opened #227 "Lucida on Raspberrry Pi Kubernetes Cluster"
Is it possible to run Lucida Project on Raspberry Pi 3 Kubernetes Cluster with 20 Nodes? As per the documentation, the device needs to have 7GB of memory. If ignored, will it run on RPi K8 Server?

[2018-06-07 15:22] #227 closed

[2018-06-07 15:25] thesaadmemon opened #228 "Dockerfile Compilation Error on MongoDB Module Ubuntu 14.04"
Hi,

I am compiling new Docker image of Lucida at Ubuntu 14.04. It gets stuck at the last step of ./install-mongodb.sh

Log: -
Install file: "src/mongo/util/time_support.h" as "/usr/local/include/mongo/util/time_support.h"
Chmod("/usr/local/include/mongo/util/time_support.h", 0644)
Creating 'build/linux2/c++11_on/ssl/mongo/version.h'
Install file: "build/linux2/c++11_on/ssl/mongo/version.h" as "/u

[2018-06-07 15:28] KamalGalrani commented on #228
The docker version isn't maintained. Try the local build. Though the local build hasn't been maintained in a long time either but it should work

[2018-06-07 15:31] mrinformatics commented on #228
@KamalGalrani Local build works fine for me, but I'm trying to deploy the docker image in Kubernetes cluster. I think this is almost the last stage for docker compilation. Any valuable suggestion would be appreciated. Thank You.

[2018-06-07 15:36] KamalGalrani commented on #228
In that case I would suggest you create a docker image from scratch. There had been many major changes to lucida after docker image was last updated. Finding those changes and updating dockerfile accordingly will be difficult.

@saijel can you have a look

[2018-06-07 15:40] mrinformatics commented on #228
I already tried to update the current Dockerfile from Scratch. I guess MongoDB is only causing problem.

@KamalGalrani Thanks for your help.

[2018-06-07 15:54] mrinformatics commented on #228
However, if I compile the particular file (./install_mongodb.sh) it succeeds.

Log: -
./install_mongodb.sh
MongoDB and C++ driver installed

[2018-06-13 12:51] mrinformatics opened #229 "Kaldi Messups with the Lucida Frontend Web Page"
While accessing localhost:30001, I get this strange output on the screen.

Screenshot: -
<img width="1372" alt="screen shot 2018-06-13 at 10 04 40" src="https://user-images.githubusercontent.com/20953709/41352228-c87fc952-6f10-11e8-8b36-5e8a99aa8d73.png">

Note:  This output is a readme file of Kaldi project.

[2018-06-17 15:25] Eragonfr opened #230 "Lucida on ArchLinux?"
I want to compile Lucida on my computer, but I'm with ArchLinux.
How can I install dependencies and run scripts ?

[2018-06-29 19:56] cassiosantos commented on #230
Hi @Eragonfr !

For a easy way to try Lucida, please see: https://github.com/k0105/mini-lucida

[2018-06-30 08:52] Eragonfr commented on #230
`This is a minimal repository containing everything to setup Lucida via Kubernetes on an Ubuntu host. `
I am on ArchLinux, apt does not exist. The package manager is pacman.

[2018-06-30 14:42] nils-van-zuijlen commented on #230
You should make lucida installable without the use of apt or dpkg, because not everyone is on a Debian(-like) distribution of Linux.

[2018-06-30 14:49] nils-van-zuijlen commented on #230
Then, you may create a package adapted to Debian. And @EragonFr may create an AUR package for Archlinux.

[2018-07-17 09:44] gorayni commented on #228
I found that it is not a compilation problem, because the installCheck function inside install_mongodb.sh just checks that the MongoDB server is running.  So I replace line 26:

apt-get install -y mongodb-org

with

apt-get install -y mongodb-org mongodb-server

[2018-08-15 11:57] tabz11 opened #231 "Using Lucida from Ubuntu terminal"
Hi,  I have installed Lucida on ubuntu 16.04 terminal, using `sensible-browser` command to view the webpage, I can register successfully but when try to log in I get an error `method not allowed for requested URL`?

[2018-11-01 12:20] JeremyARussell commented on #227
I see you've already closed the issue, but just to provide an answer, certain packages that make up the Lucida project will not run if they don't have enough memory to run off of. For example the QA service (if my memory serves, I ran into this last month) won't even compile on systems without enough RAM. I was running a 4 gig setup and had to upgrade before I was able to get the package to compil

[2018-11-17 14:44] JeremyARussell commented on #231
Have you had any progress figuring this out?

Can you copy the output of the Command Center? It should have some details on what's going on when you attempt to login.

[2018-11-17 15:16] JeremyARussell commented on #223
So far as I'm aware there are no current plans to bring Lucida over to windows.

That said. You can always install a virtual machine of Ubuntu on your windows computer using VirtualBox or some other VM solution. That's how I used to work on lucida when I only had a windows machine. Though currently I re-purposed an old gaming PC and installed Ubuntu on that and it's working great so far. PC's aren

[2018-11-20 13:16] JeremyARussell opened #232 "Lucida Project Status?"
Good morning everyone,

I have been working on updating Lucida to catch it up with the latest versions of Ubuntu as well as the latest versions of constituent packages, etc. My aim is to really turn Lucida into a much smoother experience to compile and get set up. I would love to be able to do it along side anyone from ClarityLabs or Clinc (not sure who technically "owns" Lucida in that regards) b

[2018-11-20 20:21] mnba commented on #232
They created some commercial entity and seems that entity sold some hot buzzwords to some venture capitalist(s), this would explain why they long time do not show any work on public. Youtube contains their presentation of how cool is their technology.

[2018-11-21 16:01] SeansRightHere commented on #232
Finie, sold to USAA bank and insurance. Huge price tag. Nobody is worrying about student debt.

Thanks,

Sean Hamilton
Seansrighthere@gmail.com
210-464-1718

[2018-11-30 16:07] tabz11 opened #233 "Cannot close Lucida session"
Hi,

I have tried installing Lucida but some error occurred so, had to install and make again, Now problem I'm getting is it is saying Lucida session already exists, have already checked with `lsof -i` and nothing is working on port 3000. Please advise how can I close Lucida session and start a fresh one?

[2018-12-02 17:40] JeremyARussell commented on #233
If I'm understanding you're situation correctly from context you're running things locally with `make start_all` or `make start_all_secure` and then getting that session already exists error right?

If that's the case you should be able to just run `tmux attach` which will let you attach to whatever tmux session is already created(which at that point should be the lucida session).

If all that wor

[2018-12-12 12:55] tabz11 commented on #233
yes, now I want to close Lucida and remove it. how can I do it?

[2018-12-12 12:56] #231 closed

[2018-12-12 13:22] JeremyARussell commented on #233
Check out this tmux cheat sheet - https://gist.github.com/MohamedAlaa/2961058. It has a list of all the common commands you'll want to know in order to use lucida, which uses tmux. I'm not sure if anyone has any forks where a different screen multiplexer, or something like supervisord (which are really two different kinds of programs which can be used to handle creating all the processes/services

[2018-12-13 09:55] tabz11 commented on #233
Many Thanks it really helped

[2018-12-13 09:55] #233 closed

[2018-12-13 13:08] JeremyARussell commented on #233
Awesome, I'm glad I could help.

[2019-01-20 10:55] JeremyARussell commented on #232
I've tried reaching out to them through their website and through the old Slack group but nothing so far. I'm going to try submitting a pull request just to see if that is set to notify anyone. If you're interested in checking out any of the changes I've been working on my repo is open to everyone and has quite a few random bug fixes, etc. I had hoped to just help jump start development on Lucida

[2019-01-20 11:12] consiliera commented on #232
Hi all, they seem to have taken everything to set up "Clinc AI", selling their "sophisticated AI Training Platform" for 995 US$/month. Hauswald is a co-founder. I just stumbled upon this because I've just updated my mindmap of tools & resources for AI & bot creation (with a focus on open source) and now just removed Clinc from the map. You can see it here (public): https://mm.tt/1197046494?t=JdSqb

[2019-01-27 23:18] fredhampton commented on #160
Can anyone help with understanding which is the base image ?

[2019-01-28 13:15] JeremyARussell commented on #160
Hmm. I haven't gotten Docker working again myself yet. But that said, I'm about 90% sure the one in the root is the more accurate base image and the tools one interacts with the primary one to get all the services working, etc.

That said, I'm not 100 percent sure on that, as I said I myself haven't bothered with the docker part.

Also if you need a less buggy fresher starting off point check out

[2019-01-28 17:18] fredhampton commented on #160
Thanks so much for your help !!!!!
Will you fork work with Debain ?

On January 28, 2019 at 5:15:32 AM, Jeremy A. Russell (notifications@github.com) wrote:

Hmm. I haven't gotten Docker working again myself yet. But that said, I'm about 90% sure the one in the root is the more accurate base image and the tools one interacts with the primary one to get all the services working, etc.

That said, I'm

[2019-01-29 12:35] JeremyARussell commented on #160
Potentially not yet but the next big update for me to do is update my ubuntu 14.04 machine to the latest LTS (18 something if memory serves) and that process should get the platform primed for getting it working with Debian. Feel free to pop into my repo and add any issue's you think I should draw particular attention to, right now it's a wild west, I don't have any contributing guidelines yet but

[2019-02-05 00:18] fredhampton commented on #160
I'am trying to use wiki_indri_index but I'am not sure what directory it should be in as well as which config files need to be changed to have it working ?

Can you point me in the right direction ?

Thanks !!!!!

[2019-02-05 00:22] fredhampton opened #234 "Where is the code for this ?"
Does anyone know where the code for the Lucida ios app is ?
This video demos the app...
https://www.youtube.com/watch?v=kqI8VQERnnE

Thanks

[2019-02-05 13:12] JeremyARussell commented on #160
Oh yeah, sure thing.

So that one is actually tricky, the folder doesn't matter, but wherever you put the exported indri_index to needs to be set on this environmental variable.

You can do that by extracting the database to whatever folder you want to, then using this command and replacing that /path/to/db with your actual path.

`export wiki_indri_index=/path/to/db`

Then restart the QA service

[2019-02-05 13:13] JeremyARussell commented on #234
From my understanding that code has never been open and that stuff you're seeing in the video is very out dated. (this was a quick answer, btw I answered you're other question to.)

[2019-02-17 23:34] EmpireofKings commented on #234
You no longer need the mobile app, all it did was connect to a lucida session running on a server. The mobile app did not use the phone/tablets hardware to run lucida. To use lucida on a phone/tablet all you need to do is start a lucida session on your host, open up your ports, and type in your hosts ip address with port 3000 at the end. For example (Where localhost is your ip) : http://localhost:

[2019-02-17 23:45] EmpireofKings commented on #234
I should note that you should use the make start_all_secure. Then connect using https://localhost:3000/. #SafetyFirst

[2019-02-17 23:55] #226 closed

[2019-02-18 13:40] JeremyARussell commented on #234
I'm pretty sure you're right on that, but also that link you posted also does look familiar so I think you found the right source to answer fredhampton's question.

[2019-02-24 19:03] dmichelin commented on #232
I'm not in charge or anything but I'm an employee at Clinc. There hasn't been any talk of handing the repo over to the community but I'll bring it up with the company. FWIW Our stack now is very different compared to the repo here. Hope this is helpful.

[2019-02-26 13:12] JeremyARussell commented on #232
@dmichelin Oh hey thanks that would probably be super useful for all of us here to know so we can best decide how to use our time going forward. Appreciate the assist, can't wait to hear back anything official :smiley:

[2019-03-07 12:57] JeremyARussell commented on #232
Hi @dmichelin
Were you able to speak to Jason, Johann or another person who can let us know what's going on with Lucida?

[2019-05-28 19:39] andyk opened #236 "docker fails to install java 8"
When I run `make docker` on my Macbook Pro (MacOS 10.14.4) I get the following error:

[2019-07-08 11:23] Jake-s16 opened #237 "./configure can't see fst.h"

[2019-07-11 14:00] #237 closed

[2019-07-21 16:00] dmichelin commented on #232
Yup! Sorry about the late response. I'll be taking over maintaining the project, so officially as of now the development of this could be considered `active`. I saw that @JeremyARussell has been working on an upstream branch, so I'd love to chat and get some context on what you've been working on to get them downstream.

[2019-07-21 16:54] JeremyARussell commented on #232
@dmichelin You've actually caught me while I was online and working on my command center windows / visual studio port :D

I've got my own slack workspace that I'll be using for the AI work I'm doing [here](https://civa-project.slack.com/) but I still have my Lucida slack account logged in if that one works for you. (Which actually reminds me, Johann and myself are admins so if he hasn't hooked you

[2019-07-21 16:54] #232 closed

[2019-07-21 17:27] dmichelin commented on #232
Funnily enough I'm not set up on that slack. You can invite me with my personal email daniel.c.michelin@gmail.com.

[2019-07-21 22:41] dmichelin commented on #236
Thanks for pointing this out. I'm going to try using openjdk, I don't think we're using any of the oracle jdk specific features.

[2021-01-12 08:37] Azuresonance commented on #219
@jhauswald
Do you mind fixing that link again? Also, the entire sirius.clarity-lab.org seem to be down.
Thank you.

[2021-01-14 21:14] jhauswald commented on #219
Hey @Azuresonance ! Yes apologies, I don't have access to that account for hosting anymore. While I figure out a better way to host the index, you can download it from this [Drive Link](https://drive.google.com/file/d/16QTGBVpInG1gMn4dtg0a53vH2TkVbNGQ/view?usp=sharing).

You can also use [GDown](https://github.com/wkentaro/gdown) to download it programmatically. I'm still investigating if I update

[2021-01-22 06:37] Azuresonance commented on #219
@jhauswald
It works! Thank you very much for your help.

[2022-01-30 16:19] #203 closed